<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered">
      <thead>
        <th>#</th>
        <th>Status</th>
        <th>GPU</th>
        <th>Trace</th>
        <th>Exec Time</th>
        <th>Machine Tags</th>
      </thead>
      <tbody>
      <% @trace_execs.each do |exec| %>
        <tr>
          <td><%= exec.id %></td>
          <td><%= exec.status %></td>
          <td><%= exec.gpu.pciid %></td>
          <td><%= exec.trace.filename %></td>
          <td><%= exec.execution_time %></td>
          <td><%= exec.metadata %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>