<% content_for :title do %>
    Trace Execution <%= @traceExec.id %>
<% end %>
<div class="row">
    <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Information</h3>
                    <div class="card-tools">
                    </div>
                </div>
                <div class="card-body p-2">
                <div class="col">
                    Job: <%= link_to @traceExec.job.name, @traceExec.job %></br>
                    Trace: <%= link_to @traceExec.trace.filename, @traceExec.trace %></br>
                    GPU: <%= @traceExec.gpu.name %></br>
                    Execution Time: <%= @traceExec.execution_time %></br>
                    Execution log: <%= link_to @traceExec.exec_log.filename, @traceExec.exec_log.url if @traceExec.exec_log.attached? %></br>
                    <%= render partial: 'jobs/commit', locals: {job: @traceExec.job} %>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Generated frames</h3>
        <div class="card-tools">
        </div>
    </div>
    <div class="card-body p-0">
      <table class="table table-bordered">
        <thead>
            <tr>
                <% @traceExec.deduped_frame_outputs.includes(:trace_frame).order('trace_frames.frame_id').each do |frame| %>
                    <th>
                        <%= frame.trace_frame.frame_id %>
                        <% if frame.is_acceptable == true %>
                            <span class="badge badge-success">Accepted</span>
                        <% elsif frame.is_acceptable == false %>
                            <span class="badge badge-danger">Not accepted</span>
                        <% elsif frame.is_acceptable == nil %>
                            <span class="badge badge-warning" style="color: white;">Need review</span>
                        <% end %>
                    </th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% @traceExec.deduped_frame_outputs.includes(:trace_frame).order('trace_frames.frame_id').each do |frame| %>
                <td><%= link_to(image_tag(frame.blob.variant(resize: '100x100')), frame, data: { turbolinks: false }) if frame.blob.variable? %></td>
            <% end %>
        </tbody>
      </table>
    </div>
</div>