<a class="thumbnail image-<%= frame.deduped_frame_output.id %> image-<%= frame.deduped_frame_output.id %>-gpu-<%= gpu %>-job-<%= @job.id %>" href="<%= deduped_frame_output_path(frame.deduped_frame_output, job: @job.id) %>"><%= @codenames[gpu] %><span><img src="" /><br /></span></a>