
<div class="card">
    <div class="card-body p-1">
        Timeline: <%= @frame.timeline.name %></br>
        GPU: <%= link_to @frame.gpu.name, @frame.gpu %></br>
        Driver: <%= @frame.driver.name %> </br>
        Trace: <%= link_to @frame.trace.filename, @frame.trace %> - 
        <%= link_to @frame.trace_frame.frame_id, "/traces/#{@frame.trace.id}/frames/#{@frame.trace_frame.frame_id}" %>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Frame output history</h3>
        <div class="card-tools">
        </div>
    </div>
    <div class="card-body p-0">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Jobs</th>
                    <th>Frame</th>
                </tr>
            </thead>
            <tbody>
                <% previous_deduped_frame_id = nil %>
                <% first_job = nil %>
                <% last_job = nil %>
                <% job_count = 0 %>
                <% last_frame = nil %>

                <% @history.each do |frame| %>
                    <% current_deduped_frame_id = frame.deduped_frame_output.id %>
                    <% if previous_deduped_frame_id != current_deduped_frame_id %>
                        <% if previous_deduped_frame_id %>
                            <!-- Output the previous group -->
                            <tr>
                                <td><%= link_to first_job.created_at.strftime("%Y-%m-%d").to_s, first_job %> - <%= link_to last_job.created_at.strftime("%Y-%m-%d").to_s, last_job %> (<%= job_count %> jobs)</td>
                                <td><%= deduped_preview(last_frame.deduped_frame_output, last_frame.icon, deduped_frame_output_path(last_frame.deduped_frame_output)) %></td>
                            </tr>
                        <% end %>
                        <% job_count = 0 %>
                        <% first_job = frame.trace_exec.job %>
                    <% end %>

                    <% last_job = frame.trace_exec.job %>
                    <% last_frame = frame %>
                    <% job_count += 1 %>
                    <% previous_deduped_frame_id = current_deduped_frame_id %>
                <% end %>

                <% if previous_deduped_frame_id %>
                    <!-- Output the last group if it hasn't been output yet -->
                    <tr>
                        <td><%= link_to first_job.created_at.strftime("%Y-%m-%d").to_s, first_job %> - <%= link_to last_job.created_at.strftime("%Y-%m-%d").to_s, last_job %> (<%= job_count %> jobs)</td>
                        <td><%= deduped_preview(last_frame.deduped_frame_output, last_frame.icon, deduped_frame_output_path(last_frame.deduped_frame_output)) %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>