<% if user_signed_in? %>
    <% current_user.update(frame_lock: @frame.id) %> 
<% end %>
<style>
#box {
    height: <%= @frame.upload.blob.metadata["height"] %>px;
}
</style>
<% if user_signed_in? %>
    <% if User.where(online: true).where(frame_lock: @frame.id).where.not(id: current_user.id).any? %>
    <div class="row">
        <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="fas fa-exclamation-triangle"></i> Alert!</h4>
            This frame is being viewed by someone else
        </div>
    </div>
    <% end %>
<% end %>
<div class="row">
    <%= render 'timeline' %>
</div></p>
<div class="row">
    <div class="col-9">
        <div class="row">
            <div class="col-10" id="box">
                <!-- <div class="loader mx-auto" style="margin-top: 200px;"></div> -->
                <%= image_tag(@previous_accepted_frame.upload, id: "source", draggable: false) if @previous_accepted_frame %>
                <%= image_tag(@frame.upload, id: "new", draggable: false) %>
                <img id="diff" src="" draggable="false">
            </div>
        </div>
    </div>
        <div class="col-3">
        <div class="row">
            <div class="col">
                <%= render 'layouts/image_layers' if @previous_accepted_frame %>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card py-n5">
                    <div class="card-header">
                        <h4>bugs</h4>
                    </div>
                    <%= render 'bugs/table' if @previous_accepted_frame %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
            <% if @frame.deduped_frame_output %>
                <%= link_to "Looks good", acceptable_frame_frame_output_path(@frame), data: { turbolinks: false }, class: "btn btn-success", id: "looks_good_btn" %></p>
                <%= link_to "New bug", frame_bug_frame_output_path(@frame), class: "btn btn-danger", remote: true %>
            <% end %>
            </div>
        </div></p>
        <div class="row">
            <div class="col">
                <%= render "bug_form" %>
            </div>
        </div>
    </div>
</div>

<script>
<% if @previous_accepted_frame %>
$("#new").hide()
$("#source").hide()
var diff = resemble("<%= polymorphic_url(@previous_accepted_frame.upload) %>")
    .compareTo("<%= polymorphic_url(@frame.upload) %>").ignoreNothing()
    .onComplete(function(data) {
        $(".loader").hide()
        $("#diff").attr("src", data.getImageDataUrl(""));
        $("#new").show()
        $("#source").show()
    });
<% end %>
document.addEventListener("turbolinks:load", function() {
    $("#issue_id").hide()
    $("#opacity_source").val(0.99)
    $("#opacity_new").val(0.99)
    $("#opacity_diff").val(0.99)
    panzoom.zoom(1.2)
    setTimeout(() => panzoom.pan(100, 100))
})
    var elem = document.getElementById('box')
    var panzoom = Panzoom(elem, { contain: 'outside', maxScale: 10 })
    var parent = elem.parentElement
    parent.addEventListener('wheel', function(event) {
            panzoom.zoomWithWheel(event)
    })

$(window).resize(function() {
    panzoom.zoom(1.2)
    setTimeout(() => panzoom.pan(100, 100))
})

function change_opacity(source, val){
    $('#' + source).css("opacity", val)
}

function clip_horizontal(source, val){
    $('#' + source).css("clip-path", "inset(" + $("#clip_vertical_" + source).val() + "%" + val +  "% 100% 100%)")
    console.log(val)
}

function clip_vertical(source, val){
    $('#' + source).css("clip-path", "inset(" + val + "% " + $("#clip_horizontal_" + source).val() +"% 100% 100%)")
}
</script>