<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered">
      <thead>
        <th>First seen on</th>
        <th>Game</th>
        <th>Frame id</th>
        <th>Last frame of</th>
        <th>Tools</th>
      </thead>
      <tbody>
        <%= render partial: 'trace_frames/frames_table_body',
         collection: @last_instances_for_dedups, as: :dedup %>
      </tbody>
    </table>
  </div>
</div>