<% frame = dedup[0] %>
<% last_dedup_of_list = dedup[1] %>
<tr>
    <td><%= frame.created_at.strftime("%Y-%m-%d") if frame.created_at %></td>
    <td><%= frame.game.name if frame.game %></td>
    <td><%= frame.trace_frame.frame_id if frame.trace_frame %></td>
    <td>
        <ul>
        <% last_dedup_of_list.each do |last_dedup_of| %>
            <li><%= last_dedup_of.timeline_name %> / <%= last_dedup_of.driver_name %> / <%= last_dedup_of.gpu_codename %> </li>
        <% end %>
        </ul>
    </td>
    <td><%= link_to "Review", deduped_frame_output_path(frame), class: "btn btn-success" %></td>
</tr>