<style>
#box {
    height: <%= @trace_frame.frame_outputs.last.upload.blob.metadata["height"] %>px;
}
</style>
<h1>Frame id: <%= @trace_frame.frame_id %></h1>
<div class="row">
    <div class="col-12" id="box">
        <%= image_tag(@trace_frame.frame_outputs.last.upload, id: "source") %>
    </div>
</div>