<% if job.commit_version %>
    <!-- Commit: <%= link_to job.commit_version, job.timeline.base_url_for_commits + job.commit_version %> -->
    <% prev_job = job.prev_in_timeline %>
    <% if prev_job && prev_job.commit_version && job.timeline.url_for_comparing_commits %>
        Commits: <%= link_to prev_job.commit_version + "..." + job.commit_version,
            job.timeline.url_for_comparing_commits + prev_job.commit_version +
            "..." + job.commit_version, target: :_blank %>
    <% end %>
<% end %>