<div class="row">
  <div class="col-sm-12 p-3">
  <% @execs.each do |api| %>
    <% api = api[0] %>
      <h4><%= api.name %></h4>
      <table class="table table-bordered">
        <thead>
        <tr class="text-center">
          <th></th>
          <% last_codename = "" %>
          <% @columns.each do |column| %>
            <% if column.codename != last_codename %>
            <th colspan="<%= @columns.count {|col| col.include? column.codename} %>">
              <%= column.codename %>
            </th>
            <% end %>
            <% last_codename = column.codename %>
          <% end %>
        </tr>
        <tr class="text-center">
          <th></th>
          <% last_gpu = "" %>
          <% @columns.each do |column| %>
            <% if column.gpu != last_gpu %>
            <th colspan="<%= @columns.count {|col| col.include? column.gpu} %>">
              <%= column.gpu.pciid %>
            </th>
            <% end %>
            <% last_gpu = column.gpu %>
          <% end %>
        </tr>
        <tr class="text-center">
          <th>Trace name</th>
          <% @columns.each do |column| %>
            <th>
            <% if column.driver_version %>
              <% if column.driver_version.name.nil? %>
                Unknown driver
              <% else %>
                <%= column.driver_version.driver.name %> 
              <% end %>
              <%= column.driver_version.name %>
            <% else %>
              Unknown driver
            <% end %>
            </th>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% @execs[api].each do |trace| %>
          <% trace = trace[0] %>
          <tr>
            <td class="text-center"><%= @filenames[trace] %></td>
            <% @columns.each do |column| %>
              <td class="text-center">
                <% @execs[api][trace][column.gpu.id][column.driver_version].each do |exec_| %>
                  <% exec_ = exec_[0] %>
                  <%= link_to exec_ do %>
                    <% if exec_.status == nil || exec_.status > 0 %>
                      <span class="badge badge-danger">crash</span></h1>
                    <% else %>
                      <span class="badge badge-success">complete</span></h1>                            
                    <% end %>
                  <% end %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>