<% @job.traces.includes(:upload_blob).order('upload_blob.filename').each do |trace| %>
    <ul>
    <% deduped_outputs = trace.deduped_frame_outputs.includes(:jobs).where(jobs: {id: @job.id}) %>
        <% if deduped_outputs.where(is_acceptable: nil).any? %>
            <li><%= render partial: 'traces/trace_link', locals: {trace: trace} %></li>
            <ul>
                <% trace.trace_frames.each do |trace_frame| %>
                    <% if deduped_outputs.where(trace_frame: trace_frame, is_acceptable: nil).any? %>
                        <li><%= trace_frame.frame_id %></li>
                        <ul>
                            <% dedupes = DedupedFrameOutput.includes(:jobs, :trace_frame, :gpus).where(is_acceptable: nil, jobs: {id: @job.id}, trace_frame: {id: trace_frame.id}) %>
                            <li>
                            <% dedupes.each do |frame| %>
                                <% frame.gpus.each do |gpu| %>
                                    <%= deduped_preview(frame, gpu.codename, deduped_frame_output_path(frame.deduped_frame_output)) %>
                                <% end %>
                            <% end %>
                            </li>
                        </ul>
                    <% end %>
                <% end %>
            </ul>
        <% end %>
    </ul>
<% end %>