<div class="card collapsed-card">
    <div class="card-header accordion-button" >
        <h3 class="card-title">Job Information</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="collapse"><i class="fas fa-plus"></i></button>
        </div>
    </div>
    <div class="card-body">
        Created at: <%= @job.created_at.strftime("%Y-%m-%d %H:%M:%S") %></br>
        Project: <%= link_to @job.timeline.project, @job.timeline.project_url %></br>
        Branch: <%= link_to @job.timeline.branch, @job.timeline.project_url.match(".*\/").to_s + @job.timeline.branch %></br>
        <%= render partial: 'commit', locals: {job: @job} %></br>
        <% if @job.next_in_timeline != nil && @job.prev_in_timeline != nil %>
            Next job: <%= link_to @job.prev_in_timeline.name, @job.next_in_timeline %></br>
        <% end %>
        <% if @job.prev_in_timeline != nil && @job.next_in_timeline != nil %>
            Previous job: <%= link_to @job.prev_in_timeline.name, @job.prev_in_timeline %>
        <% end %>
    </div>
</div>

<h2>List of frames needing review <span id="needing_review_tooltip" data-toggle="tooltip" data-html="true" title="These are the frames that have never been seen before in a post-merge run, and thus are likely due to changes in rendering coming from your patch set. It is however possible that these frames are never producing a stable output on this particular GPU. Consult mupuf / Martin Roukala if you need more help."><i class="fas fa-question"></i></span></h2>
<div class="card">
    <div class="card-body p-0" id="needing-review">
      <%= render partial: 'regressions', locals: {bool: nil, seen: [@job.is_released_code]} %>
    </div>
</div>

<% unless @job.is_released_code %>
    <h2>List of already-known but un-reviewed frames <span id="known_review_tooltip" data-toggle="tooltip" data-html="true" title="The frames have already been seen in a post-merge run. This means that your patchset is not responsible for it, and thus you are not on the hook for reviewing them. These frames are there so that developers can see which games could potentially be broken without anyone knowing."><i class="fas fa-question"></i></span></h2>
    <div class="card">
        <div class="card-body p-0" id="needing-review">
        <%= render partial: 'regressions', locals: {bool: nil, seen: [true]} %>
        </div>
    </div>
<% end %>

<h2>List of unacceptable frames</h2>
<div class="card">
    <div class="card-body p-0" id="failures">
        <%= render partial: 'regressions', locals: {bool: false, seen: [false, true]} %>
    </div>
</div>
<div class="row">

<h2>Trace runtime changes</h2> <h6 style="padding-top:15px;">&nbsp;(lower is better)</h6>
</div>
<div class="card">
    <div class="card-body p-0">
    <table class="table" data-sortable>
        <thead>
            <tr>
                <th>Trace</th>
                <th>GPU Codename</th>
                <th>Driver Version</th>
                <th>Execution Time</th>
                <th data-sorted="true" data-sorted-direction="descending">Change (%)</th>
            </tr>
        </thead>
        <tbody>
            <% @job.trace_execs.includes(:gpu, :trace, :driver_version, trace: [:upload_blob]).where(status: 0).where('execution_time > ?', 0).
            order('upload_blob.filename').each do |exec_| %>
                <% exec_history = @trace_exec_history[exec_.trace.id][exec_.gpu.id][exec_.driver_version.id] %>
                <% if exec_history != {} && !exec_history.is_sample_within_variance(exec_.execution_time) %>
                    <tr>
                        <td><%= link_to @filenames[exec_.trace.id], exec_.trace %></td>
                        <td><%= link_to @codenames[exec_.gpu.id], exec_.gpu %></td>
                        <td><%= exec_.driver_version %></td>
                        <td>
                            <% tooltip = "min=#{exec_history.min.round(1)}, #{exec_history.max.round(1)}, n=#{exec_history.sample_count}" %>
                            <span title="<%= tooltip %>"><%= exec_history %></span> ->
                            <%= link_to exec_.execution_time.to_s + " s", exec_ %>
                        </td>
                        <% percentage = exec_history.sample_difference_percentage(exec_.execution_time).round(1) %>
                        <td data-value="<%= percentage %>">
                            <span class="<%= percentage.negative? ? "text-success" : "text-danger" %>">
                            <%= percentage.negative? ? percentage : "+" + percentage.to_s %>%</span>
                        </td>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
    </div>
</div>

<h2>Trace Executions</h2>
<div class="card">
    <div class="card-body p-0" id="executions">
        <%= render 'executions' %>
    </div>
</div>

<script>
    $('#needing_review_tooltip').tooltip();
    $('#known_review_tooltip').tooltip();
</script>