<% frames = Hash.new { |h, k| h[k] = Hash.new(&h.default_proc) } %>
<% @frames.each do |frame| %>
    <% if frame.deduped_frame_output.is_acceptable == bool %>
        <% if seen.include? (@dedup_released.include? frame.deduped_frame_output.id) %>
            <% frames[frame.trace.id][frame.trace_frame][frame.trace_exec.driver_version][frame.gpu.id][frame] = frame %>
        <% end %>
    <% end %>
<% end %>
<% if frames.empty? %>
No frames to see!
<% end %>
<% frames.each do |trace| %>
    <% trace = trace[0] %>
    <ul>
        <li><%= link_to @filenames[trace], trace_path(trace) %></li>
        <ul>
            <% frames[trace].each do |trace_frame| %>
                <% trace_frame = trace_frame[0] %>
                <li><%= trace_frame.frame_id %></li>
                <ul>
                    <% frames[trace][trace_frame].each do |driver_version| %>
                        <% driver_version = driver_version[0] %>
                        <li>
                            <%= driver_version.driver_branch.driver.name if driver_version %> <%= driver_version.name if driver_version %>: 
                            <% frames[trace][trace_frame][driver_version].each do |gpu| %>
                                <% gpu = gpu[0] %>
                                <% frames[trace][trace_frame][driver_version][gpu].each do |frame| %>
                                    <% frame = frame[0] %>
                                    <%= deduped_preview(frame, @codenames[gpu], deduped_frame_output_path(frame.deduped_frame_output)) %>
                                    <% if bool == false %>
                                        <% frame.bugs.each do |bug| %>
                                            (<%= link_to "bug", bug.issue_url %> <%= link_to "#" + bug.id.to_s, bug %>)
                                        <% end %>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </li>
                    <% end %>
                </ul>
            <% end %>
        </ul>
    </ul>
<% end %>