<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered">
      <thead>
        <th>#</th>
        <th>Name</th>
        <th>Released code?</th>
        <th>Trace Executions</th>
        <th>Frames needing review</th>
        <th>Tools</th>
      </thead>
      <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td><%= link_to job.id, job %></td>
          <td><%= job.name %></td>
          <td>
            <% if job.is_released_code %>
              Post-merge
            <% else %>
              Pre-merge
            <% end %>
          </td>
          <td><%= job.trace_execs.size %></td>
          <td><%= job.frame_outputs.includes(:deduped_frame_output, :job).where(deduped_frame_output: { is_acceptable: nil}, jobs: { is_released_code: job.is_released_code }).size %></td>
          <td>
            <%= link_to "Destroy",
            job_path(job),
            :method => :delete,
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-sm btn-danger', remote: false if current_user && current_user.admin? %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>