<% content_for(:tabtitle, "Jobs - Valve Dashboard") %>
<% content_for :title do %> Jobs <% end %>
<% JobTimeLine.includes(:jobs).where(jobs: {is_released_code: true}).select(:project, :branch).uniq.each do |timeline| %>
  <%= link_to "[#{timeline.project} - #{timeline.branch}]",
      jobs_path + "?q[timeline_project_cont]=#{timeline.project}&q[timeline_branch_cont]=#{timeline.branch}" , class: 'btn btn-primary' %>
<% end %>
</p>
<div class="card">
    <div class="card-body p-0">
      <%= render 'table' %>
    </div>
</div>
<%= paginate @jobs, theme: 'twitter-bootstrap-4' %>