<% if @job.name %>
    <% content_for(:tabtitle, "Job: #{@job.name.truncate(15, omission: "...#{@job.name.last(7)}")} - Valve Dashboard") %>
<% end %>
<% content_for :title do %>
    <% if @job.is_released_code %>
        <span class="badge badge-success" style="color: white;">Post-merge</span>
    <% else %>
        <span class="badge badge-warning" style="color: white;">Pre-merge</span>
    <% end %>
    Overview of the <%= @job.name %> job
<% end %>
<%= render 'pre_merge' %>