<!-- 
<h2> Change Password for uid: <%= @user.uid %></h2>

<% form_for @user do |f| %>
  <%#= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :username, "Username" %><br />
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    </p>
    <%= f.submit "Save" %>
  </div>
<% end %>
</br>
-->
<div class="row">
  <div class="col-md-6 col-12">
    <div class="card">
      <!-- /.card-header -->
      <div class="card-body p-3">
        <h4>Service sign-in</h4>
        <h6>Connected Accounts
        Select a service to sign in with.</h6>
        <%= render partial: 'providers', locals: {login_or_connect: "Connect"} %>
      </div>
    </div>
    
  </div>
</div>