<%= form_for @user do |f| %>
    <%= f.label "Can upload traces?" %>
    <%= f.check_box :can_upload_trace %></br>
    <%= f.label "Can download traces?" %>
    <%= f.check_box :can_download_trace %></br>
    <%= f.label "Can create games?" %>
    <%= f.check_box :can_create_game %></br>
    <%= f.label "Can destroy games?" %>
    <%= f.check_box :can_destroy_game %></br>
    <%= f.label "Can edit games?" %>
    <%= f.check_box :can_edit_game %></br>
    <%= f.label "Can review frames?" %>
    <%= f.check_box :can_review_frames %></br>
    <%= f.label "Can upload frames?" %>
    <%= f.check_box :can_upload_frames %></br>
    <%= f.label "admin?" %>
    <%= f.check_box :admin? %></br>
    <%= f.submit %>
<% end %>
