<% classes = "btn bg-dark btn-flat" %>
<% User::Providers.each do |provider| %>
    <% if current_user && @user.public_send(provider) %>
        <% classes += " disabled" if @user.providers.size < 2 %>
        <%= link_to(provider_path(@user.public_send(provider)), method: :delete, class: classes) do %>
            <%= image_tag provider.to_s + ".png", width: 20 %>
            <% if provider.to_s == "gitlab" %>
                Disconnect Freedesktop.org Gitlab
            <% else %>
                Disconnect <%= provider.capitalize %>
            <% end %>
        <% end %>
        <% classes = "btn bg-dark btn-flat" %>
    <% else %>
        <%= link_to("/users/auth/" + provider.to_s, class: classes, disabled: true, method: :post) do %>
            <%= image_tag provider.to_s + ".png", width: 20 %>
            <%= login_or_connect %>
            <% if provider.to_s == "gitlab" %>
                Freedesktop.org Gitlab
            <% else %>
                <%= provider.capitalize %>
            <% end %>
        <% end %>
    <% end %>
<% end %>