<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered">
      <thead>
        <th>#</th>
        <th>Online</th>
        <th>Username</th>
        <th>Permissions</th>
        <th>Admin?</th>
        <th>Social accounts</th>
      </thead>
      <tbody>
        <% @users.order(:id).each do |user| %>
        <tr>
            <td><%= link_to user.id, edit_permissions_user_path(user) %></td>
            <td><%= user.online? %></td>
            <td><%= user.username %></td>
            <td><%= user.list_permissions.html_safe %></td>
            <td><%= user.admin %></td>
            <td>
              <% user.providers.each do |provider|%>
                <% if provider.base_url && provider.username %>
                  <%= link_to (provider.base_url + provider.username) do %>
                    <%= image_tag provider.name.to_s + ".png", width: 20 %>
                  <% end %>
                <% else %>
                    <%= image_tag provider.name.to_s + ".png", width: 20 %>
                <% end %>
              <% end %>
            </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>