<div class="row">
  <div class="col-md-6 col-12">
    <div class="card">
      <!-- /.card-header -->
      <div class="card-body p-3">
        <h4>Service sign-in</h4>
        <h6>Connected Accounts
        Select a service to sign in with.</h6>
        <%= render partial: 'providers', locals: {login_or_connect: "Connect"} %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-12">
    <div class="card">
      <!-- /.card-header -->
      <div class="card-body p-3">
      <h4>User details</h4>
        <ul>
          <li>
            User ID: <%= @user.id %>
          </li>
          <li>
            Username: <%= @user.username %>
          </li>
          <li>
            Email: <%= @user.email %>
          </li>
          <li>
            Admin: <%= @user.admin? %>
          </li>
          <li>
            Permissions
            <ul>
              <%= sanitize @user.list_permissions_as_list %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>