An error occurred in the application:

Error: <%= @error.class %>: <%= @error.message %>

Backtrace:
<%= @error.backtrace.join("\n") %>

Request Details:
Path: <%= @env['PATH_INFO'] %>
Method: <%= @env['REQUEST_METHOD'] %>
Query: <%= @env['QUERY_STRING'] %>
User Agent: <%= @env['HTTP_USER_AGENT'] %>
