<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered">
      <thead>
        <th>#</th>
        <th>Benchmark</th>
        <th>Avg FPS</th>
      </thead>
      <tbody>
        <% @game.benches.each do |benchmark| %>
        <tr>
            <td><%= benchmark.id %></td>
            <td><%= link_to benchmark.name, benchmark %></td>
            <td><%= benchmark.metrics.where(label: "fps").first.avg.round(2) if benchmark.metrics.where(label: "fps").any? %>
            <% if params[:action] == "index" %>
                <td>
                    <%= link_to "Edit", edit_bench_path(benchmark), class: "btn btn-sm btn-warning" %>
                    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        bench_path(benchmark),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-sm btn-danger', remote: false %>
                </td>
            <% else %>
                <td><%= (((benchmark.metrics.where(label: "fps").first.avg.round(2) / @game.benches.first.metrics.where(label: "fps").first.avg.round(2)) * 100).round(2)).to_s + "%" if benchmark.metrics.where(label: "fps").any? %></td>
            <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
