<%= form_for(@game) do |f| %>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <%= f.label :name, :class => 'control-label' %>
                <div class="controls">
                    <%= f.text_field :name, required: true, :class => 'form-control' %>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <%= f.label :status, :class => 'control-label' %>
                <div class="controls">
                    <%= f.collection_select :trace_status, Trace::TRACE_STATUS, :to_s, :to_s, {}, required: true, class: 'form-control' %>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <%= f.label :Add_tag, :class => 'control-label' %>
                <div class="controls">
                    <%= text_field_tag('add_tag', nil, list: 'tag-list', :autocomplete => :off)  %>
                    <datalist id="tag-list">
                        <% Tag.all.select(:name).distinct.each do |tag| %>
                            <option value="<%= tag.name %>"></option>
                        <% end %>
                    </datalist>
                </div>
            </div>
        </div>
    </div>
<%= f.submit class: "btn btn-success" %>
<% end %>