<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered">
      <thead>
        <th><%= sort_link(@q, :name) do %>
              <strong>Game</strong>
            <% end %>
        </th>
        <th>Traces</th>
        <th><%= sort_link(@q, :trace_status) do %>
              <strong>Status</strong>
            <% end %>
        </th>
        <th>Tags</th>
        <% if current_user && (current_user.can_edit_game? || current_user.can_destroy_game?) %>
          <th>Tools</th>
        <% end %>
      </thead>
      <tbody>
        <% @games.joins(:tags).includes(:traces).order(:name).each do |game| %>
        <tr>
            <td><%= link_to game.name, game %>
            <td><%= game.traces.where(deleted: [nil, false]).size %></td>
            <td><%= game.trace_status %></td>
            <td>
              <% game_tags = game.tags.order(name: :asc) %>
              <% game_tags.each do |tag| %>
                <%= tag.name %><%= "," if tag != game_tags.last %>
              <% end %>
            </td>
            <% if current_user && (current_user.can_edit_game? || current_user.can_destroy_game?) %>
              <td>
                <%= link_to "Edit", edit_game_path(game), class: "btn btn-sm btn-warning" if current_user.can_edit_game? %>
                <%= link_to "Destroy", game_path(game), method: :delete, class: "btn btn-sm btn-danger", data: {confirm: "Are you sure?"} if current_user.can_destroy_game? %>
              </td>
            <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>