<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered">
      <thead>
        <th>#</th>
        <th>Trace</th>
        <th>GPU</th>
        <th>Size</th>
        <% if current_user && current_user.can_upload_trace? %>
          <th>Tools</th>
        <% end %>
      </thead>
      <tbody>
        <% @traces.order(:id).each do |trace| %>
        <tr>
            <td><%= link_to trace.id, trace %></td>
            <td><%= link_to trace.upload.filename.to_s.truncate(20), trace.upload, :"data-turbolinks" => false if trace.upload.attached? %></td>
            <td><%= trace.gpu.name if trace.gpu %></td>
            <td><%= number_to_human_size(trace.upload.blob.byte_size) if trace.upload.attached? %></td>
            <% if current_user && current_user.can_upload_trace? %>
            <td>
              <%= link_to "Destroy",
                  trace_path(trace),
                  :method => :delete,
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-sm btn-danger', remote: false %>
            </td>
            <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>