<div class="row">
    <div class="col-12">
        <%= form_for @game, remote: true do |f| %>
            <div class="row">
                <div class="col-12">
                    <%= f.file_field :traces, multiple: true, direct_upload: true, class: "" %>
                </div>
            </div></p>
            <div class="row">
                <div class="col-2">
                    <%= f.submit "Upload", class: 'btn btn-success' %>
                </div>
                <div class="row">
                <div class="col-12">
                <table class="table table-bordered" id="upload-table">
                    <tbody id="upload-tbody">
                        <tr>
                            <td id="num_uploads">0</td>
                            <td id="mbps">0 mb/s</td>
                        </tr>
                    </tbody>
                </table>

                </div>
                </div>
            </div>

        <% end %>
    </div>
</div>