<% content_for(:tabtitle, "Games - Valve Dashboard") %>
<% content_for :title do %> Games <% end %>
<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-body p-3">
        <%= search_form_for @q do |f| %>
          <div class="row">
            <div class="col">
              <%= f.label "Game name" %>
              <%= f.search_field :name_cont, class: "form-control" %></p>
              <%= link_to "New Game", new_game_path, class: "btn btn-primary" if current_user && current_user.can_create_game? %>
              <%= f.submit %>
              </p>
            </div>
            <div class="col">
              <%= f.label "Tags" %>
              <%= f.collection_select(:tags_id_in, @tags.uniq, :id, :name, {include_blank: true}, {multiple: true, class: "form-control"}) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
    <div class="col-4">
    <%= pie_chart Game.group(:trace_status).count %>
  </div>
</div>

</p>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Games</h3>
        <div class="card-tools">
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0 mb-n3">
      <%= render 'table' %>
    </div>
</div>

