<% content_for(:tabtitle, "Game: #{@game.name} - Valve Dashboard") %>
<% content_for :title do %> <%= @game.name %> <% end %>
<%= link_to "Edit", edit_game_path(@game), class: "btn btn-warning" %></p>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h4>Tags</h4>
            </div>
            <div id="layer_list" class="list-group">
                <% @game.tags.each do |tag| %>
                    <div id="list_<%= tag.id %>" class="list-group-item">
                        <div class="row">
                            <div class="col-10">
                                &nbsp;<%= tag.name %>
                            </div>
                            <% if current_user && current_user.can_edit_game? %>
                                <div class="col-2">
                                    <%= link_to games_tag_path(tag_id: tag.id, game_id: @game.id), method: :delete do %>
                                        <i style="color: red;" class="fas fa-minus-circle pull-right"></i>
                                    <% end %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    <% if current_user && current_user.can_upload_trace? %>
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">New GPU</h3>
                <div class="card-tools">
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-3">
                <%= render 'gpus/form' %>
            </div>
        </div>
    </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">New Trace</h3>
                    <div class="card-tools">
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-3">
                    <%= render 'traces/form' %>
                </div>
            </div>
        </div>
    <% end %>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Traces</h3>
                <div class="card-tools">
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0 mb-n3">
                    <%= render 'trace_table' %>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Benchmarks</h3>
                <div class="card-tools">
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0 mb-n3">
                    <%= render partial: 'benches/table', locals: {benchmarks: @game.benches.uniq} %>
            </div>
        </div>
    </div>
</div>
<script>
var trace_frame_count = 1
</script>