<% count = params[:trace_frame_count] %>
'<%= form_for @trace, remote: true do |f| %>'
    $('#trace_frames tbody').append("<%= j render partial: 'traces/form_trace_frames', locals: {f: f, count: count} %>")
'<% end %>'
trace_frame_count++;