<% @trace_frames.each do |trace_frame_id, dedupOccurence| %>
    <h1><%= trace_frame_id %></h1>
    </ul>
    <% dedupOccurence.each do |occurence| %>
        <li>
            <!-- show percentage of jobs missing (10 / 20 (50%))-->
            
            Job <%= occurence.job_start.id %>-<%= occurence.job_end.id %>: <%= link_to "frame", occurence.deduped_frame_output %> (<%= occurence.deduped_frame_output.id if occurence.deduped_frame_output %>)
            <%= show_percentage(occurence.jobs_without_data.count, occurence.job_end.id - occurence.job_start.id + 1) %>
        </li>
    <% end %>
    </ul>
<% end %>