<% content_for(:tabtitle, "Frames - Valve Dashboard") %>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Frames needing review <span class="badge badge-secondary"><%= @all.size %><%= "+" if @is_all_an_understatement %></span></h1></h3>
        <div class="card-tools">
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0 mb-n3">
      <%= render 'trace_frames/frames_table' %>
    </div>
</div>
<%= paginate @paginated, theme: 'twitter-bootstrap-4' %>