$(".image-<%= @dedup.id %>").each(function(i) {
<% if Rails.env == "development" %>
    $(this).find('img').attr('src', 'https://via.placeholder.com/1920x1080.png');
<% else %>
    $(this).find('img').attr('src', '<%= j url_for(@dedup.upload) %>');
<% end %>
});
