$('#search').html("<%= j render partial: 'deduped_frame_outputs/search', locals: {timelines: @timelines_box, gpus: @codenames_box, drivers: @drivers_box, ids: @candidate_dedups} %>")
<% if params[:q].has_key?(:id_eq) && params[:q][:id_eq] != "" %>
    <% ref = DedupedFrameOutput.find(params[:q][:id_eq]) %>
    id = <%= ref.blob_id %>
    $('#ref_frame_info').html("<%= j render partial: 'deduped_frame_outputs/ref_frame_info', locals: {ref_dedup: ref, codenames: @codenames} %>")
    $('#layers').html("<%= j render 'layouts/image_layers' %>")
    function get_ref_diff() {
    const img = new Image();
    <% if Rails.env.development? %>
        img.src = "/new.png"
    <% else %>
        img.src = "<%= polymorphic_url(@frame.upload) %>"
    <% end %>
    $.getJSON("/api/v1/stats/blobs/" + id, function(json){
        diff = resemble(json.url)
        <% if Rails.env.development? %>
            .compareTo("/new.png").ignoreNothing()
        <% else %>
            .compareTo("<%= polymorphic_url(@frame.upload) %>").ignoreNothing()
        <% end %>
        .onComplete(function(data) {
            $(".loader").hide()
            $("#diff").attr("src", data.getImageDataUrl(""));
            $("#source").attr("src", json.url);
            total_pixels = img.width * img.height
            diff_pixels = parseInt(total_pixels * (data.rawMisMatchPercentage / 100))
            $("#diff_percent").html("Difference: " + diff_pixels + " pixels (" + data.misMatchPercentage + "%)")
        });
    })
    $("#tolerance_diff").val(0)
    $("#tolerance_indicator").html("0")
    };
    get_ref_diff();
<% end %>

function constructParams(){
    var params = <%= raw params.permit!.to_json %>
    delete params["id"]
    delete params["controller"]
    delete params["action"]
    delete params["format"]
    <% if params[:q][:job_id].present? %>
        params["job_id"] = <%= params[:q][:job_id] %>
    <% end %>
    delete params["q"]
    delete params["commit"]
    params["timelines_id_eq"] = $('#q_timelines_id_eq').val()
    params["gpus_name_eq"] = $('#q_gpus_name_eq').val()
    params["driver_versions_id_eq"] = $('#q_driver_versions_id_eq').val()
    params["id_eq"] = $('#q_id_eq').val()
    var params_out = "?"
    $.each(params, function(param, val){
        if (val)
            params_out += "q[" + param + "]=" + val + "&"
    })
    return params_out
}
if (constructParams() != "?" && <%= params[:first] != "true" %> ){
    window.history.pushState('Valve Dashboard', 'DedupedFrameOutput: <%= @frame.id %>', '/deduped_frame_outputs/' + <%= @frame.id %> + constructParams());
}