<% content_for :title do %>
  <%= render partial: 'users/providers', locals: {login_or_connect: "Login"} if !current_user %>
<% end %>
<!--
<% if current_user && !current_user.any_permissions %>
    You don't have any permissions</br>
    Contact an admin
<% end %>
-->
</p>
<div class="row">
   <div class="col-md-12">
    <div class="card">
      <!-- /.card-header -->
      <div class="card-body">
Welcome to Valve's CI Dashboard, the place where we review the output of game trace execution!</p>

It has been designed to cater to the needs of both developers and QA by providing <%= link_to "job-centric", "https://ci-dashboard.steamos.cloud/jobs" %>, <%= link_to "bug-centric", "https://ci-dashboard.steamos.cloud/bugs" %>, and <%= link_to "post-merge review", "https://ci-dashboard.steamos.cloud/frames" %> views that put the relevant information next to each other and encourages the right behavior.</p>

If you have any issue/concern/suggestion for the website, please <%= link_to "write an issue", "https://gitlab.freedesktop.org/flightlessmango/valve-dashboard/-/issues/new?issue[title]=[USER%20FEEDBACK]" %> or send <%= link_to "us", 'mailto:flightlessmangoyt@gmail.com,martin.roukala@mupuf.org?subject=%5BValve%20CI%20Dashboard%5D%20User%20feedback' %> an email.</p>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-sm-6 col-12">
    <div class="info-box">
      <span class="info-box-icon bg-success" onclick="Turbolinks.visit('<%= traces_path %>')"><i class="far fa-file-image"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Traces</span>
        <span class="info-box-number"><%= Trace.count %></span>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-12">
    <div class="info-box">
      <span class="info-box-icon bg-danger" onclick="Turbolinks.visit('<%= bugs_path %>')"><i class="fas fa-bug"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Bugs</span>
        <span class="info-box-number"><%= Bug.count %></span>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-12">
    <div class="info-box">
      <span class="info-box-icon bg-indigo" onclick="Turbolinks.visit('<%= frames_path %>')"><i class="fas fa-images"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Unique frames</span>
        <span class="info-box-number"><%= DedupedFrameOutput.count %></span>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-12">
    <div class="info-box">
      <span class="info-box-icon bg-primary" onclick="Turbolinks.visit('<%= frames_path %>')"><i class="fas fa-images"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Frames to review</span>
        <span class="info-box-number"><%= DedupedFrameOutput.where(is_acceptable: nil).size %></span>
      </div>
    </div>
  </div>
</div>

<div class="row">
   <div class="col-md-6">
    <div class="card card-success card-outline">
      <div class="card-header">
        <h3 class="card-title"><i class="far fa-file-image"></i> Trace Graph</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
              <i class="fas fa-times"></i>
            </button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <%= line_chart line_chart_amount_traces_path + ".json", colors: [@colors[1]] %>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  
  <div class="col-md-6">
    <div class="card card-danger card-outline">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-bug"></i> Bug Graph</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
              <i class="fas fa-times"></i>
            </button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <%= line_chart line_chart_amount_bugs_path + ".json", colors: [@colors[0]] %>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>

  <div class="col-md-6">
    <div class="card card-success card-outline">
      <div class="card-header">
        <h3 class="card-title"><i class="far fa-file-image"></i> Recent Traces</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
              <i class="fas fa-times"></i>
            </button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <%= render 'traces/table' %>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>

  <div class="col-md-6">
    <div class="card card-danger card-outline">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-bug"></i> Recent Bugs</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
              <i class="fas fa-times"></i>
            </button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <%= render partial: 'bugs/index_table', locals: {bugs: @bugs} %>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>

</div>
