<% content_for :title do %> Login <% end %>
<% flash.each do |type, msg| %>
  <div class="alert alert-danger col-3">
    <%= msg %>
  </div>
<% end %>
<%= render partial: 'users/providers', locals: {login_or_connect: "Login"} %>