<%= form_for @gpu, remote: true do |f| %>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <%= f.label "Name", :class => 'control-label' %>
                <div class="controls">
                    <%= f.text_field :name, required: true, class: 'form-control' %>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <%= f.label "User Metadata", :class => 'control-label' %>
                <div class="controls">
                    <%= text_field_tag :user_metadata, "", required: true, class: 'form-control' %>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label" for="gpuz">GPU-Z</label>  
                <div class="controls">
                    <%= f.file_field :gpuz, required: true, direct_upload: true %>
                </div>
            </div>
        </div>
    </div>
    <%= f.submit class: 'btn btn-success' %>
<% end %>