<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered">
      <thead>
        <th>GPU</th>
      </thead>
      <tbody>
        <% @gpus.each do |gpu| %>
            <tr>
                <td><%= link_to gpu.name, gpu %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>