.steambutton {
    display: block;
    background-color: #6f9f31;
    width: 270px;
    height: 50px;
    line-height: 50px;
    margin: auto;
    color: #fff;
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
  }
  
  .steambutton span {
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    width: 75%;
    font-size: 14px;
    text-transform: uppercase;
    left: 0;
    -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
    transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  }
  
  .steambutton span,
  .steambutton .icon {
    display: block;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0;
  }
  
  .steambutton .icon .fa {
    font-size: 30px;
    line-height: 50px;
    -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
    transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
  }
  
  .steambutton .icon {
    width: 25%;
    right: 0;
    margin-top: 7px;
    -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
    transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  }
  
  .steambutton span,
  .steambutton .icon {
    display: block;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0;
  }
  
  .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
  }
  
  .steambutton span:after {
    content: '';
    background-color: #5d8628;
    width: 2px;
    height: 70%;
    position: absolute;
    top: 15%;
    right: -1px;
  }
  
  .steambutton.success span,
  .steambutton:hover span {
    left: -72%;
    opacity: 0;
 }
  
  .steambutton.success .icon,
  .steambutton:hover .icon { 
    width: 100%;
    color: white;
  }
  
  .steambutton.success .icon .fa,
  .steambutton:hover .icon .fa {
    font-size: 45px;
  }

  #source
  {
    position:absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.99999;
  }
  
  #diff
  {
    position:absolute;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0.99999;
  }

  #new
  {
    position:absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0.99999;
  }

  img {
      max-width: 100%;
      max-height: 100%;
  }

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #04AA6D;
  cursor: pointer;
}

.thumbnail{
  position: relative;
  z-index: 0;
  }
  
.thumbnail:hover{
background-color: transparent;
z-index: 50;
}

.thumbnail span{ /*CSS for enlarged image*/
  position: fixed;
  width: 750px;
  visibility: hidden;
  // left: 500px;
  // bottom: 500px;
}

.thumbnail span img{ /*CSS for enlarged image*/
border-width: 0;

padding: 2px;
}

.thumbnail:hover span{ /*CSS for enlarged image on hover*/
visibility: visible;
// top: -200px;
// left: 200px;
left: 25vw;
bottom: 1vh;
}

.loader {
  border: 16px solid #FFF; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

span[title] {
  border-bottom: 1px dotted #000;
}