<%= form_for(Bug.new, id: "bug_form", html: {target: '_blank'}, remote: true) do |f| %>
    <%= hidden_field_tag :trace_frame_id, @frame.trace_frame.id %>
    <%= hidden_field_tag :deduped_frame_output_id, @frame.id %>
    <%= hidden_field_tag :job, params[:job] %>
    <%= f.text_field :title, class: "form-control",
    placeholder: "Title the issue", required: true %></br>
    <%= f.text_area :description, class: "form-control",
    placeholder: "Describe the issue",
    rows: 3, required: true %></br>
    <%= f.check_box :confirmation, required: true %>
    I have checked the proposed list of bugs to see if any existing ones matched
    <div style="display:none"><%= f.submit "Submit Bug", class: 'btn btn-primary', id: 'submit_bug' %></div>
<% end %>