<table class="table table-bordered">
    <thead>
        <tr class="text-center">
          <th></th>
          <% drivers = columns.pluck(:driver_version) %>
          <% last_codename = "" %>
          <% columns.each do |column| %>
            <% if column.codename != last_codename %>
            <th colspan="<%= columns.count {|col| col.include? column.codename} %>">
              <%= column.codename %>
              <%= repro_rate(frame_outputs[column.gpu], @bug) %>
            </th>
            <% end %>
            <% last_codename = column.codename %>
          <% end %>
        </tr>
        <tr class="text-center">
          <th></th>
          <% last_gpu = "" %>
          <% columns.each do |column| %>
            <% if column.gpu != last_gpu %>
            <th colspan="<%= columns.count {|col| col.include? column.gpu} %>">
              <%= column.gpu.pciid %>
            </th>
            <% end %>
            <% last_gpu = column.gpu %>
          <% end %>
        </tr>
        <tr class="text-center">
          <th>Job ID</th>
          <% columns.each do |column| %>
            <th>
            <% if column.driver_version %>
              <% if column.driver_version.name.nil? %>
                Unknown driver
              <% else %>
                <%= column.driver_version.driver.name %> 
              <% end %>
              <%= column.driver_version.name %>
            <% else %>
              Unknown driver
            <% end %>
            </th>
          <% end %>
        </tr>
    </thead>
    <tbody>
        <tr>
          <%= render partial: 'timeline_jobs', collection: timeline_jobs, locals: {timeline_jobs: timeline_jobs, drivers: drivers, frame_outputs: frame_outputs, columns: columns, timeline: timeline, timeline_bug: timeline_bug}, as: :job %>
        </tr>
    </tbody>
</table>
