<% codename = params[0] %>
<% pciids = params[1] %>
<% title = "The GPU(s) codenamed #{codename} has reproduced the bug on the following gpus/drivers:\n\n" %>
<% pciids.each do |pciid, driver_versions|%>
    <% title += " * " + pciid.to_s + ":" %>
    <% driver_versions.each do |driver_version| %>
        <% title += " " + driver_version.driver.name + " (" + driver_version.name + ")"%>
    <% end %>
    <% title += "\n" %>
<% end %>
<span style="border-bottom: 1px dotted #000;" title="<%= title %>"><%= codename %></span><% if !params_iteration.last? %>, <% end %>