<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Issue</th>
            <th>GPUs</th>
        </tr>
    </thead>
    <tbody>
    <% bugs.each do |bug| %>
        <tr>
            <td><%= link_to bug.id, bug %></td>
            <td><%= bug.title %></td>
            <td><%= link_to bug.issue_url.truncate(27), bug.issue_url if bug.issue_url %></td>
            <td>
                <% bug.gpus.each do |gpu| %>
                    <%= gpu.name %> <% ", " if gpu != bug.gpus.last %>
                <% end %>
            </td>
        </tr>
    <% end %>

    </tbody>
</table>