<table class="table table-bordered">
    <thead>
        <th>Bug</th>
        <th>Matching score</th>
        <th>Sample</th>
        <% if current_user && current_user.can_review_frames? %>
            <th>Actions</th>
        <% end %>
    </thead>
    <tbody>
    <% @bugs.sort_by {|b| b.probability(@frame)[1].tr("%", "").to_i}.reverse!.each do |bug| %>
        <tr>
            <% title = "" %>
            <% title += "Title: " + bug.title + "&#013;" if bug.title %>
            <% title += "Description: " + bug.description if bug.description %>
            <td><div><%= link_to bug.id, bug %> <% if not title.empty? %><i class="far fa-list-alt" title="<%= raw title %>"></i><% end %></div></td>
            <td><%= render partial: 'prob_rate', locals: {bug: bug} %></td>
            <td>
                <% dedup = bug.deduped_frame_outputs.last %>
                <%= deduped_preview(dedup, "view", deduped_frame_output_path(dedup)) %>
            </td>
            <% if current_user && current_user.can_review_frames? %>
                <td>
                    <% if @frame_bugs.include? bug %>
                        <%= link_to "Associated", dissociate_deduped_frame_output_path(@frame, bug: bug), class: "btn btn-warning btn-xs", style: "color: white;", method: :post %>
                    <% else %>
                        <% if params[:q] && params[:q][:job_id] %>
                            <%= link_to "Associate", associate_bug_path(bug, dedup_id: @frame.id, job: params[:q][:job_id]), class: "btn btn-primary btn-xs", method: :post %>
                        <% else %>
                            <%= link_to "Associate", associate_bug_path(bug, dedup_id: @frame.id, job: params[:job]), class: "btn btn-primary btn-xs", method: :post %>
                        <% end %>
                    <% end %>
                </td>
            <% end %>
        </tr>
    <% end %>
    </tbody>
</table>