<% frame_is_present = false %>
<% if job != timeline_jobs.last or job != timeline_jobs.first %>
    <% drivers.zip(columns.pluck(:gpu)).each do |driver, gpu| %>
        <% next_job = timeline_jobs[timeline_jobs.index(job) + 1] %>
        <% if frame_outputs[gpu][driver][job] != frame_outputs[gpu][driver][next_job] %>
            <% frame_is_present = true %>
            <% break %>
        <% end %>
    <% end %>
<% else %>
    <% frame_is_present = true %>
<% end %>

<% timeline_bug.hidden_jobs += 1 if !frame_is_present %>

<% if frame_is_present %>
    <% if timeline_bug.hidden_jobs > 0 and (job != timeline_jobs.first and job != timeline_jobs.last) %>
        <tr>
            <td colspan="<%= drivers.size * columns.pluck(:gpu).size %>">
                No changes for the next <%= pluralize(timeline_bug.hidden_jobs, 'job') %>
            </td>
        </tr>
        <% timeline_bug.hidden_jobs = 0 %>
    <% else %>
    <tr>
        <td>
            <%= job_name(job, timeline_jobs) %>
        </td>
        <% drivers.zip(columns.pluck(:gpu)).each do |driver, gpu| %>
            <% frame = frame_outputs[gpu][driver][job] %>
            <%# raise if frame != {} && frame.deduped_frame_output.id == 3842 && frame.job.id != 776 %>
            <td>
            <% icon_struct = Struct.new(:icon, :color, :title, :text) %>
            <% if !frame.present? %>
                <% icon = icon_struct.new("badge badge-danger", "text-white", "Trace execution failed", "Missing") %>
            <% else %>
                <% icon = frame.icon(@bug) %>
            <% end %>
                <%= deduped_preview(frame, icon, deduped_frame_output_path(frame)) %>
            </td>
        <% end %>
    </tr>
    <% end %>
<% end %>
