<% content_for(:tabtitle, "Bugs - Valve Dashboard") %>
<% content_for :title do %> Bugs <% end %>
<div class="row">
    <div class="col-12">
        <div class="card card-tabs py-n5">
            <div class="card-header p-0 pt-0">
                <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#not-fixed-bugs" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Open</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#fixed-bugs" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">Closed</a>
                    </li>
                </ul>
            </div>
            <div class="card-body p-0 pt-0">
                <div class="tab-content" id="custom-tabs-one-tabContent">
                    <div class="tab-pane fade show active" id="not-fixed-bugs" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                        <%= render partial: "index_table", locals: {bugs: @bugs} %>
                    </div>
                    <div class="tab-pane fade" id="fixed-bugs" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
                        <%= render partial: "index_table", locals: {bugs: @bugs_fixed}  %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>