<% trace_frame = TraceFrame.find(params[:trace_frame_id]) %>
<% trace = Trace.find(params[:trace_id]) %>

$('#trace_frame_id_<%= trace_frame.id %>').html("<%= j render partial: 'frame_table', locals: {trace: trace, trace_frame: trace_frame } %>")