<style>
.disabled {
  pointer-events: all !important;
}
</style>
<% content_for(:tabtitle, "Bug ##{@bug.id} - Valve Dashboard") %>
<%= form_for @bug, remote: true do |f| %>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header accordion-button">
                <h3>General information</h3>
            </div>
            <div class="card-body">
            <div class="row">
                <div class="col-1">
                    <%= f.label "Title", style: "position: absolute; bottom: 0%;" %>
                </div>
                <div class="col-11">
                    <%= f.text_field :title, class: "form-control", placeholder: "Add a title" %>
                </div>
            </div>
            </br></br>
            <div class="row">
                <div class="col-1">
                    <%= f.label "Upstream URL", style: "position: absolute; bottom: 0%;" %>
                </div>
                <div class="col-<%= 11 - (@timelines.size * 2) %>">
                    <%= f.text_field :issue_url, class: "form-control", placeholder: "Add upstream url" %>
                </div>
                <% if !@bug.issue_url || @bug.issue_url == "" %>
                    <% @bug.timelines.each do |timeline| %>
                        <div class="col-2">
                            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Save before posting">
                                <%= link_to "Prefill bug in " + timeline.name,
                                    create_upstream_issue_bug_path(bug: @bug, timeline: timeline),
                                    id: "upstream_issue_" + timeline.id.to_s, class: 'btn btn-primary btn-sm',
                                    style: "position: absolute; bottom: 0;", remote: true if timeline.url_pattern_for_filing_issue %>
                            </span>
                        </div>
                    <% end %>
                <% end %>
            </div></p>
                <%= f.label "Issue description" %>
                <%= f.text_area :description, class: "form-control",
                    placeholder: "Describe the issue",
                    rows: 3, required: true %></p>
                <%= link_to "Mark as fixed", mark_fixed_bug_path(@bug), method: :post, class: 'btn btn-warning', style: 'color: white;' if @bug.fixed_on == nil %>
                <%= link_to "Delete bug", bug_path(@bug), method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure you want to delete this bug?"} if current_user && current_user.admin? %>
                <%= f.submit "Save changes", class: 'btn btn-success float-right', id: "bug_submit", disabled: true %>
            </div>
        </div>
    </div>
</div>
<% end %>
<% @timelines.each do |timeline, timeline_bug| %>
    <% frame_outputs = timeline_bug.frame_outputs %>
    <% drivers = timeline_bug.drivers %>
    <% gpu_codenames = timeline_bug.gpu_codenames %>
    <% gpu_repro = timeline_bug.gpu_repro %>
    <% jobs = timeline_bug.jobs %>
    <% columns = timeline_bug.columns %>
    <% traces = timeline_bug.traces %>
    <h3 id="timeline_<%= timeline.id %>">
        Timeline: <%= link_to timeline.project + " - " + timeline.branch, jobs_path + "?q[timeline_project_cont]=#{timeline.project}&q[timeline_branch_cont]=#{timeline.branch}" %> <%= repro_rate(frame_outputs, @bug) %>
    </h3>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header accordion-button">
                    <h3>Reproduction information</h3>
                </div>
                    <div class="card-body">
                        <ul>
                            <li>
                                Seen on: 
                                <ul>
                                    <li>
                                        Jobs: between <%= render partial: 'job_name', locals: {job: jobs.last, timeline_jobs: jobs.last.timeline.jobs.order(id: :desc) } %> and <%= render partial: 'job_name', locals: {job: jobs.first, timeline_jobs: jobs.first.timeline.jobs.order(id: :desc) } %>
                                    </li>
                                    <li>
                                        <!-- TODO: add PCIID and Driver (maybe jobs). * pciid: list of drivers -->
                                        GPUs: <%= render partial: 'gpu', collection: gpu_codenames, as: :params %>
                                    </li>
                                    <li>
                                        <!-- TODO: radv (21.3, 22.0, main), amdvlk (..., ...)! make into a partial and reuse in gpus -->
                                        Drivers: <%= render partial: 'drivers/driver', collection: drivers, as: :driver %>
                                    </li>
                                    <li>
                                        Traces: <a href="#" title="<%= render partial: 'trace', collection: traces, as: :trace %>"><%= traces.size %></a> (hover to list the games)
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <%= BugsController.repro_rate(frame_outputs, @bug).repro_rate %>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div data-animation="false" data-trigger="hover focus" data-toggle="tooltip" data-placement="top" data-html="true" title="For the whole bug: # of jobs affected / # of job executions since the oldest job reproducing the bug in the timelines reproducing the bug">

    <% frame_outputs[timeline].each do |trace| %>
        <% trace = trace[0] %>
        <h4>
            <%= trace.filename %> <%= repro_rate(frame_outputs[timeline][trace], @bug) %>
        </h4>
        <% frame_outputs[timeline][trace].each do |trace_frame| %>
            <% trace_frame = trace_frame[0] %>
            <div class="card card-secondary collapsed-card">
                <div class="card-header accordion-button">
                    <h3 class="card-title"><%= trace.filename %> - <%= trace_frame.frame_id %></h3>
                    <div class="card-tools">
                        <%= repro_rate(frame_outputs[timeline][trace][trace_frame], @bug) %>
                        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div style="overflow-x: auto;">
                        <%= render partial: 'frame_table', locals: {frame_outputs: frame_outputs[timeline][trace][trace_frame], timeline_jobs: jobs, columns: columns, timeline: timeline, timeline_bug: timeline_bug } %>
                    </div>
                </div>
            </div>
            <script>
                $('#trace_frame_id_btn-<%= trace_frame.id %>').CardWidget('toggle')
            </script>
        <% end %>
    <% end %>
<% end %>

<div style="height: 700px"></div>
<script>
$(document).ready(function() {
    input_fields = ["bug_title", "bug_issue_url", "bug_description"]
    $.each(input_fields, function(i, value ) {
        document.getElementById(value).addEventListener('input', function (evt) {
            $("#bug_submit").prop("disabled", false)
            <% @bug.timelines.each do |timeline| %>
                $("#upstream_issue_" + <%= timeline.id %>).addClass("disabled")
            <% end %>
        });
    });
})
</script>
