<%= form_for @run, remote: true do |f| %>
    <%= hidden_field_tag :attachment, value: true %>
    <%= f.hidden_field :bench_id, value: @benchmark.id %>
    <div class="row">
    <div class="col-sm-2">
        <div class="form-group">
            <%= f.label :game_id, :class => 'control-label' %>
            <div class="controls">
                <%= f.collection_select :game_id, Game.all, :id, :name, {}, required: true, class: 'form-control' %>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <%= f.label :name, :class => 'control-label' %>
            <div class="controls">
                <%= f.text_field :name, required: true, :class => 'form-control' %>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="form-group">
            <%= f.label :upload, :class => 'control-label' %>
            <div class="controls">
                <%= f.file_field :upload, direct_upload: true, :class => '' %>
                <%= f.submit "Upload", class: 'btn btn-success' %>
                <select id="file_type" name="file_type">
                    <% Bench::FILETYPES.each do |type| %>
                        <option value="<%= type %>"><%= type %></option>
                    <% end %>
                </select> 
            </div>
        </div>
    </div>
  </div>
<% end %>