<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered">
      <thead>
        <th style="width: 1px;">#</th>
        <th>Type</th>
        <th>Game</th>
        <th>Avg FPS</th>
        <% if params[:action] == "index" %>
            <th>Action</th>
        <% else %>
            <th>Compared to <%= runs.first.name if runs.any? %></th>
        <% end %>
      </thead>
      <tbody>
        <% runs.each do |run| %>
        <tr>
            <td style="width: 1px;"><%= link_to run.id, run %></td>
            <% if run.bench %>
              <td><%= run.bench.type_name %></td>
            <% else %>
              <td>Frame capture</td>
            <% end %>
            <td><%= Game.find(run.game_id).name %></td>
            <td><%= @avg = run.metrics.select(:label, :id, :avg).where(label: "fps").first.avg.round(0) if run.metrics.select(:label).where(label: "fps").exists? %></td>
            <% if params[:action] == "index" %>
                <td>
                    <%= link_to "Edit", edit_bench_path(run), class: "btn btn-sm btn-warning" %>
                    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        bench_path(run),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-sm btn-danger', remote: false %>
                </td>
            <% else %>
                <td><%= (((@avg / runs.first.metrics.select(:label, :id, :avg).where(label: "fps").first.avg * 100).round(2))).to_s + "%" if runs.first.metrics.where(label: "fps").where.not(data: nil) %></td>
            <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-3 ml-1">
    <button class="btn btn-primary" onclick="displayMarked();">Show marked Benchmarks</button></p>
  </div>
  <div class="col-8">
    <%#= link_to 'Compare by Native', stats_benches_path(benchmark_ids: @benchmarks.pluck(:id), type: "Wine"), remote: true , class: "btn btn-success" %>
    <%#= link_to 'Compare by Renderer', stats_benches_path(benchmark_ids: @benchmarks.pluck(:id), type: "Renderer"), remote: true , class: "btn btn-success" %>
  </div>
</div>
