<%= form_for(@bug, id: "bug_form") do |f| %>
    <%= hidden_field_tag :trace_frame_id, @frame.trace_frame.id %>
    <%= hidden_field_tag :deduped_frame_output_id, @frame.id %>
    <%= hidden_field_tag :job, params[:job] %>
    <div id="issue_id">
        <div class="row">
            <div class="col">
                <%= f.label :issue_url %>
                <%= f.text_field :issue_url, required: true %></p>
            </div>
            <div class="col">
                <%= f.submit "Next frame", class: 'btn btn-success' %>
            </div>
        </div>
    </div>
<% end %>