Timelines: <%= render partial: 'job_time_lines/timeline', collection: @frame.timelines, as: :timeline, locals: {timelines: @frame.timelines} %>
<br>
Drivers: <%= render partial: 'drivers/driver', collection: @drivers, as: :driver %>
<br>
Trace: <%= link_to @frame.trace.filename, @frame.trace %><br>
Game: <%= link_to @frame.game.name, @frame.game %><br>
Frame id: <%= @frame.trace_frame.frame_id %><br>
<% if @frame.user %>
Last updated by: <%= @frame.user %><br>
<% end %>
<% if @job && !@job.is_released_code %>
    <% if @frame.jobs.pluck(:is_released_code).include? true %>
        This frame exists in a post merge job
    <% else %>
        This frame does not exists in post merge
    <% end %>
<% else %>
<% end %></br>
<!-- TODO: Add a title on the "N times" part of the seen on, which would list all the timelines,
 drivers, and pciids that have generated this frame on all the gpus codenamed $codename 
-->
Seen on: <br>
<ul>
<% jobs = Job.includes(:deduped_frame_outputs, :trace_execs, :gpus, :timeline).
    where(deduped_frame_outputs: {id: @frame.id}, trace_execs: {gpu: @frame.gpus}) %>
    <% @frame.gpus.each do |gpu| %>
        <li>
            <% seen = jobs.map {|job| job if job.gpus.include? gpu}.compact.sort_by {|job| job.id }.reverse! %>
            <% timelines = seen.map {|job| job.timeline } %>
            <span id="gpu-<%= gpu.id %>-timeline" data-toggle="tooltip" data-html="true" title="[<%= seen.first.timeline.project + " - " + seen.first.timeline.branch %>]">
                <%= @codenames[gpu.id] %>: <%= seen.size %> times between 
            </span>
            <script>
                $('#gpu-<%= gpu.id %>-timeline').tooltip();
            </script>
            <%= link_to seen.last.created_at.strftime("%Y-%m-%d"),
            seen.last, title: seen.last.name %> and
            <%= link_to seen.first.created_at.strftime("%Y-%m-%d"),
            seen.first, title: seen.first.name %>
        </li>
    <% end %>
</ul>

<div id="ref_frame_info">
    <%= render partial: 'ref_frame_info', locals: {ref_dedup: @previous_accepted_frame, codenames: @codenames} if @previous_accepted_frame %>
</div>
<div id="diff_percent"></div></p>