Reference frame #<%= link_to ref_dedup.id, ref_dedup %> seen on: <br>
<ul>
<% jobs = Job.includes(:deduped_frame_outputs, :trace_execs, :gpus).
    where(deduped_frame_outputs: {id: ref_dedup.id}, trace_execs: {gpu: ref_dedup.gpus}) %>
    <% ref_dedup.gpus.each do |gpu| %>
        <li>
            <% seen = jobs.map {|job| job if job.gpus.include? gpu}.compact.sort_by {|job| job.id }.reverse! %>
            <%= codenames[gpu.id] %>: <%= seen.size %> times between 
            <%= link_to seen.last.created_at.strftime("%Y-%m-%d"),
            seen.last, title: seen.last.name %> and
            <%= link_to seen.first.created_at.strftime("%Y-%m-%d"),
            seen.first, title: seen.first.name %>
            <% ref_drivers = Hash.new { |h, k| h[k] = Hash.new(&h.default_proc) } %>
            <% ref_dedup.driver_versions.includes(:driver).order(:name, 'driver.name').each do |driver_version| %>
                <% ref_drivers[driver_version.driver.name][driver_version.name] = nil %>
            <% end %>
            (<span style="border-bottom: 1px dotted #000;" title="<%= render partial: 'drivers/driver', collection: ref_drivers, as: :driver %>">drivers</span>)
        </li>
    <% end %>
</ul>
