<%= search_form_for @q, url: get_ref_frames_static_index_path,
    remote: true, html: { method: :post } do |f| %>
    <%= f.hidden_field :trace_frame_id, value: @frame.trace_frame.id %>
    <%= f.hidden_field :dedup_id, value: @frame.id %>
    <%= f.hidden_field :ref_id, value: @previous_accepted_frame.id if @previous_accepted_frame %>
    <%= f.hidden_field :job_id, value: params[:q][:job_id] if params[:q] %>
    <% if timelines.empty? || gpus.empty? || drivers.empty? || ids.empty? %>
        <% blank = "Loading..." %>
    <% else %>
        <% blank = "Any" %>
    <% end %>
    <div class="row">
        <div class="col-6">
            <%= f.label 'Timelines' %>
            <%= f.collection_select :timelines_id_eq, timelines, :id, :name, {include_blank: blank}, class: 'form-control' %>
        </div>
        <div class="col-6">
            <%= f.label 'GPU' %>
            <%= f.collection_select :gpus_name_eq, gpus, :to_s, :to_s, {include_blank: blank}, class: 'form-control' %>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <%= f.label 'Drivers' %>    
            <%= f.collection_select :driver_versions_id_eq, drivers, :id, :to_s, {include_blank: blank}, class: 'form-control' %>
        </div>
        <div class="col-6">
            <%= f.label 'Frames' %>
            <%= f.collection_select :id_eq, ids, :id, :to_s, {include_blank: blank}, class: 'form-control' %>
        </div>
    </div></p>
    <div style="display:none">
        <%= f.submit "Submit", id: "search-submit" %>
    </div>
<% end %>

<script>
    function submit_search(){
        $('#search-submit').trigger('click')
        $('#q_timelines_id_eq').prop('disabled', 'disabled')
        $('#q_gpus_name_eq').prop('disabled', 'disabled')
        $('#q_driver_versions_id_eq').prop('disabled', 'disabled')
        $('#q_id_eq').prop('disabled', 'disabled')
    }

    function resetSearch(){
        $('#q_timelines_id_eq').val('')
        $('#q_gpus_name_eq').val('')
        $('#q_driver_versions_id_eq').val('')
        $('#q_id_eq').val('')
        submit_search()
    }

    $('#q_timelines_id_eq').on('change', submit_search);
    $('#q_gpus_name_eq').on('change', submit_search);
    $('#q_driver_versions_id_eq').on('change', submit_search);
    $('#q_id_eq').on('change', submit_search);
</script>