<% if frame != {} %>
    <% if frame.kind_of?(DedupedFrameOutput) %>
        <% frame_struct = Struct.new(:deduped_frame_output) %>
        <% frame = frame_struct.new(frame) %>
    <% end %>
    <% if job && gpu %>
        <a class="thumbnail image-<%= frame.deduped_frame_output.id %> image-<%= frame.deduped_frame_output.id %>-gpu-<%= gpu.id %>-job-<%= job.id %>" href="<%= deduped_frame_output_path(frame.deduped_frame_output, job: job.id) %>"><i class="fa-2x far fa-image"></i><span><img src="" /></span></a>
    <% else %>
        <a class="thumbnail image-<%= frame.deduped_frame_output.id %> image-<%= frame.deduped_frame_output.id %>" href="<%= deduped_frame_output_path(frame.deduped_frame_output) %>"><i class="fa-2x far fa-image"></i><span><img src="" /></span></a>
    <% end %>
<% end %>
<% if icon %>
    <i class="<%= icon.icon %> <%= icon.color %>" title="<%= icon.title %>"><%= icon.text %></i>
<% end %>