<style>
.img-border{
    border: 5px solid red;
}
</style>

<div class="row">
    <% first_ids = @frame.trace_frame.frame_outputs.where(id: 0..@frame.id).order(id: :desc).limit(4).ids %>
    <% last_ids = @frame.trace_frame.frame_outputs.where(id: @frame.id+1..@frame.trace_frame.frame_outputs.last.id).order(id: :asc).limit(2).ids %>
    <% @frame.trace_frame.frame_outputs.where(id: first_ids).order(id: :asc).each do |frame| %>
        <div class="col <% if frame == @frame %>img-border<% end %>">
            <% if frame.is_looking_acceptable == nil %>
                <i style="position:absolute; top: 20%; left: 45%; color: yellow;" class="fas fa-exclamation fa-2x"></i>
            <% end %>
            <% if frame.is_looking_acceptable == false %>
                <i style="position:absolute; top: 20%; left: 40%; color: red;" class="fas fa-times fa-2x"></i>
            <% end %>
            <% if frame.is_looking_acceptable == true %>
                <i style="position:absolute; top: 20%; left: 37%; color: green;" class="fas fa-check fa-2x"></i>
            <% end %>
            <%= link_to(image_tag(frame.upload.variant(resize: '100x100')), frame, data: { turbolinks: false }) %>
        </div>
    <% end %>
    <% @frame.trace_frame.frame_outputs.where(id: last_ids).order(id: :asc).each do |frame| %>
        <div class="col <% if frame == @frame %>img-border<% end %>">
            <% if frame.is_looking_acceptable == nil %>
                <i style="position:absolute; top: 20%; left: 45%; color: yellow;" class="fas fa-exclamation fa-2x"></i>
            <% end %>
            <% if frame.is_looking_acceptable == false %>
                <i style="position:absolute; top: 20%; left: 40%; color: red;" class="fas fa-times fa-2x"></i>
            <% end %>
            <% if frame.is_looking_acceptable == true %>
                <i style="position:absolute; top: 20%; left: 37%; color: green;" class="fas fa-check fa-2x"></i>
            <% end %>
            <%= link_to(image_tag(frame.upload.variant(resize: '100x100')), frame, data: { turbolinks: false }) %>
        </div>
    <% end %>
</div>
