$('#looks_good_btn').hide()
$('#new_bug_btn').hide()
$('#issue_id').show()
var win = window.open('<%= raw @url %>', '_blank');
if (win) {
    win.focus();
} else {
    alert('Failed to open mesa issue tab');
}
