<style>
#box {
    height: 85vh;
}
body {
  overflow: hidden;
}
.footer {
  position: fixed;
  right: 35px;
  bottom: 15px;
  width: 18vw;
  color: white;
  text-align: center;
}
</style>
<% content_for(:tabtitle, "Frame Review - ##{@frame.id} - #{@frame.game.name} - Valve Dashboard") %>
<% if user_signed_in? %>
    <% if User.where(online: true).where(frame_lock: @frame.id).where.not(id: current_user.id).any? %>
    <div class="row">
        <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="fas fa-exclamation-triangle"></i> Alert!</h4>
            This frame is being viewed by someone else
        </div>
    </div>
    <% end %>
<% end %>
<% if @job %>
    <% content_for :title do %>
    <% if @job.is_released_code %>
        <span class="badge badge-success" style="color: white;">Post-merge</span>
    <% else %>
        <span class="badge badge-warning" style="color: white;">Pre-merge</span>
    <% end %>
        Reviewing frames from: <%= link_to @job.name, @job %> -
        Remaining frames <span class="badge badge-primary" style="color: white;"><%= @job.deduped_frame_outputs.where(is_acceptable: nil).size %></span>
    <% end %>
<% end %>

<div class="row">
    <div class="col-9">
        <div class="row">
            <div class="col-10" id="box">
                <!--<div class="loader mx-auto" style="margin-top: 50px;"></div></p> -->
                <h3 class="mx-auto"> Loading ... </h3>
                <div id="progress-bars">
                    <h3>Previous accepted frame<h3>
                    <div class="progress">
                        <div id="progress-bar-0" class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div></p>
                    <h3>Current frame<h3>
                    <div class="progress">
                        <div id="progress-bar-1" class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <% if @previous_accepted_frame %>
                    <% if Rails.env.production? %>
                        <%= image_tag(@previous_accepted_frame.upload, id: "source", draggable: false) %>
                    <% else %>
                        <%= image_tag("/old.png", id: "source", draggable: false) %>
                    <% end %>
                <% else %>
                    <img id="source" src="" draggable="false">
                <% end %>
                <% if Rails.env.production? %>
                    <%= image_tag(@frame.upload, id: "new", draggable: false) %>
                <% else %>
                    <%= image_tag("/new.png", id: "new", draggable: false) %>
                <% end %>
                <img id="diff" src="" draggable="false">
            </div>
        </div>
    </div>
    <div class="col-3" style="overflow-y: scroll; height: 80vh; overflow-x: hidden;">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>Frame Info
                        <% if @frame.is_acceptable == true %>
                            <span class="badge badge-success float-right">Accepted</span>
                        <% elsif @frame.is_acceptable == false %>
                            <span class="badge badge-danger float-right">Not accepted</span>
                        <% elsif @frame.is_acceptable == nil %>
                            <span class="badge badge-warning float-right" style="color: white;">Need review</span>
                        <% end %>
                        </h4>
                    </div>
                    <div class="p-2">
                        <%= render 'frame_info' %>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div id="layers">
                    <%= render 'layouts/image_layers' if @previous_accepted_frame %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>Reference frames <button onclick="resetSearch()" class="btn btn-primary float-right">Reset</button> </h4>
                    </div>
                    <div class="p-2" id="search">
                        <%= render partial: 'deduped_frame_outputs/search', locals: {timelines: [], gpus: [], drivers: [], ids: []} %>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card py-n5">
                    <div class="card-header">
                        <h4>Bugs</h4>
                    </div>
                    <div>
                    <%= render 'bugs/table' %>
                        <% if current_user && current_user.can_review_frames? %>
                            <div class="col-12">
                                <div class="row">
                                    <% if @frame.jobs.pluck(:is_released_code).include? true %>
                                        <% @frame.timelines.each do |timeline| %>
                                            <div class="col-6">
                                                <%= link_to "New bug #{timeline.project}", new_bug_path(frame: @frame, timeline: timeline, job: params[:job]), class: "btn btn-danger form-control", id: "new_bug_btn", remote: true %></p>
                                            </div>
                                        <% end %>
                                    <% end %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div></br></br>
        <% if current_user && current_user.can_review_frames? %>
            <div class="row footer">
                <div class="col">
                    <% if @job %>
                        <% job = @job.id %>
                    <% else %>
                        <% job = nil %>
                    <% end %>
                    <%= link_to "Looks good", acceptable_frame_deduped_frame_output_path(@frame, job: job), method: :post, data: { turbolinks: false }, class: "btn btn-success", id: "looks_good_btn" %>
                    <% if @frame.jobs.pluck(:is_released_code).include? false %>
                        <%= link_to "Looks wrong", unacceptable_frame_deduped_frame_output_path(@frame, job: job), method: :post, data: { turbolinks: false }, class: "btn btn-danger" %>
                    <% end %>
                    <% if @job && !@job.is_released_code %>
                        <%= link_to "Unacceptable", pre_merge_frame_bug_deduped_frame_output_path(@frame, job: @job.id), class: "btn btn-danger" %>
                    <% else %>
                        <%#= link_to "New bug", frame_bug_deduped_frame_output_path(@frame), class: "btn btn-danger", id: "new_bug_btn", remote: true %>
                    <% end %>
                </div>
            </div>
        <% end %>
        <div class="row">
            <div class="col">
                <%= render "bug_form" %>
            </div>
        </div>
    </div>
</div>
<%= render 'layouts/modal' %>

<script>
var diff

function image_diff(images){
    const img = new Image();
    img.src = window.URL.createObjectURL(images[0].response)
    diff = resemble(window.URL.createObjectURL(images[0].response))
    .compareTo(window.URL.createObjectURL(images[1].response)).ignoreNothing()
    .onComplete(function(data) {
        $("#diff").hide()
        $("#diff").attr("src", data.getImageDataUrl(""));
        $("#diff").fadeIn(1000)
        $("#new").fadeIn(1000)
        $("#source").fadeIn(1000).promise().done(function(){
            $(".loader").hide()
            $("#progress-bars").hide()
        })
        total_pixels = img.width * img.height
        diff_pixels = parseInt(total_pixels * (data.rawMisMatchPercentage / 100))
        $("#diff_percent").html("Difference: " + diff_pixels + " pixels (" + data.misMatchPercentage + "%)")
    });
}

function download_files(urls){
    var max_percent = 100 / urls.length
    var images = []
    $(urls).each(function(i) {
        var request = new XMLHttpRequest();
        url = urls[i]

        request.addEventListener('progress', function(e) {
            var complete = parseInt((e.loaded / e.total) * 100);
            $("#progress-bar-" + i).css("width", complete + "%")
        });
        request.addEventListener('loadend', function(e) {
            images.push(request)
            if (images.length == urls.length){
                image_diff(images)
            }
        })
        request.responseType = 'blob';
        request.open('get', url);
        request.send();
    });
}

function setup_diff(){
    <% if Rails.env.production? %>
        var prev_img = "<%= polymorphic_url(@previous_accepted_frame.upload) if @previous_accepted_frame %>"
        var current_img = "<%= polymorphic_url(@frame.upload) %>"
        download_files([prev_img, current_img])
    <% else %>
        var prev_img = "/old.png"
        var current_img = "/new.png"
        download_files([prev_img, current_img])
    <% end %>
}

var elem = document.getElementById('box')
var panzoom = Panzoom(elem, { contain: 'outside', maxScale: 10 })
var parent = elem.parentElement
parent.addEventListener('wheel', function(event) {
    panzoom.zoomWithWheel(event)
})

$(document).ready(function() {
    $("#issue_id").hide()
    $("#opacity_source").val(0.99)
    $("#opacity_new").val(0.99)
    $("#opacity_diff").val(0.99)
    <% if @previous_accepted_frame %>
        $("#new").hide()
        $("#source").hide()
        setup_diff()
    <% end %>
    setTimeout(function(){
        panzoom.pan(100,100)
    }, 100)
    panzoom.zoom(1.2)
})

$(window).resize(function() {
    panzoom.zoom(1.2)
    setTimeout(() => panzoom.pan(100, 100))
})

function change_opacity(source, val){
    $('#' + source).css("opacity", val)
}

function clip_horizontal(source, val){
    $('#' + source).css("clip-path", "inset(" + $("#clip_vertical_" + source).val() + "%" + val +  "% 100% 100%)")
}

function clip_vertical(source, val){
    $('#' + source).css("clip-path", "inset(" + val + "% " + $("#clip_horizontal_" + source).val() +"% 100% 100%)")
}
<% inital_params = "?" %>
<% inital_params << "q[dedup_id]=" + @frame.id.to_s %>
<% if params[:q] %>
    <% params[:q].each do |k,v| %>
        <% inital_params << "&q[" + k + "]=" + v %>
    <% end %>
<% end %>

$.post("/static/get_ref_frames.js<%= raw inital_params %>" + "&first=true")
</script>