<% if ActiveStorage::Blob.find(params[:ref_id]).attachments.first.record_type == "FrameOutput" %>
    $('#ref_frame_info').html("<%= j render partial: 'ref_frame_info', locals: {id: params[:ref_id]} %>")
<% else %>
    $('#ref_frame_info').html("Original reference frame")
<% end %>