<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered">
      <thead>
        <% if type == "Wine" %>
            <th>Proton/Wine</th>
        <% end %>
        <% if type == "Renderer" %>
            <th>Renderer</th>
        <% end %>
        <th>Avg FPS</th>
        <th>Compared to <%= benchmarks.first if benchmarks.any? %></th>
      </thead>
      <tbody>
        <% benchmarks.each do |benchmark| %>
        <tr>
            <td><%= benchmark %>
            <% if type == "Wine" %>
                <td><%= @benchmarks.where(wine: benchmark).joins(:inputs).average("inputs.fps").round(2) if @benchmarks.where(wine: benchmark).first.inputs.any? %>
            <% end %>
            <% if type == "Renderer" %>
                <td><%= @benchmarks.where(renderer: benchmark).joins(:inputs).average("inputs.fps").round(2) if @benchmarks.where(renderer: benchmark).first.inputs.any? %>
            <% end %>
            <% if type == "Wine" %>
                <td><%= (@benchmarks.where(wine: benchmark).joins(:inputs).average("inputs.fps") / @benchmarks.where(wine: benchmarks.first).joins(:inputs).average("inputs.fps") * 100).round(2).to_s + "%" if @benchmarks.where(wine: benchmark).first.inputs.any? %></td>
            <% end %>
            <% if type == "Renderer" %>
                <td><%= (@benchmarks.where(renderer: benchmark).joins(:inputs).average("inputs.fps") / @benchmarks.where(renderer: benchmarks.first).joins(:inputs).average("inputs.fps") * 100).round(2).to_s + "%" if @benchmarks.where(renderer: benchmark).first.inputs.any? %></td>
            <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
