<% colors = Bench::TWENTY %>
<div class="row">
    <div class="col-6">
        <%= column_chart benchmarks.average("inputs.fps"),
            title: "Average FPS", colors: colors, max: 100, library: { plotOptions: { column: { colorByPoint: true }}} %>
    </div>
    <div class="col-6">
        <%= column_chart benchmarks.average("inputs.gpu_power"),
            title: "GPU Power Consumption", colors: colors, max: 100, library: { plotOptions: { column: { colorByPoint: true }}} %>
    </div>
</div></p>
<div class="row">
    <div class="col-6">
        <%= column_chart benchmarks.average("inputs.gpu"),
            title: "GPU Load", colors: colors, max: 100, library: { plotOptions: { column: { colorByPoint: true }}} %>
    </div>
    <div class="col-6">
        <%= column_chart benchmarks.average("inputs.cpu"),
            title: "CPU Load", colors: colors, max: 100, library: { plotOptions: { column: { colorByPoint: true }}} %>
    </div>
</div></p>