<%= form_for @benchmark do |f| %>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <%= f.label :name, :class => 'control-label' %>
                <div class="controls">
                    <%= f.text_field :name, :class => 'form-control' %>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <%= f.label :type, :class => 'control-label' %>
                <div class="controls">
                    <%= f.text_field :type_name, list: 'type-list', class: "form-control", :autocomplete => :off %>
                    <datalist id="type-list">
                        <% Bench.all.select(:type_name).distinct.each do |bench| %>
                            <option value="<%= bench.type_name %>"></option>
                        <% end %>
                    </datalist>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <label class="control-label" for="bench_type">&nbsp;</label>
                <div class="controls">
                    <%= f.submit nil, :class => 'btn btn-primary' %>
                </div>
            </div>
        </div>
    </div>
<% end %>
