<% colors = Bench::TWENTY %>
<% types = benchmark.runs.pluck(:name).uniq %>
<div class="card">
    <div class="card-body p-0">
      <%= render partial: 'stats_table_total', locals: {benchmark: benchmark, types: types, colors: colors} %>
    </div>
</div>

<% if params[:action] != "sync" || params[:q].nil? %>
<div class="row">
    <div class="col-6">
        <%= bar_chart types.map { |type| {name: type, data: [["FPS", benchmark.runs.where(name: type).includes(:metrics).select(metrics: [:label, :avg]).where(metrics: {label: "fps"}).average(:avg)]] }},
            title: "FPS", colors: colors, library: { plotOptions: { column: { colorByPoint: false }}}, suffix: "fps" %>
    </div>
    <div class="col-6">
        <%= bar_chart types.map { |type| {name: type, data: [["Frametime", benchmark.runs.where(name: type).includes(:metrics).select(metrics: [:label, :avg]).where(metrics: {label: "frametime"}).average(:avg)]] }},
            title: "Frametime", colors: colors, library: { plotOptions: { column: { colorByPoint: false }}}, suffix: "ms" %>
    </div>
</div></p>
<% end %>
<div class="row">
    <div class="col-6">
        <%= column_chart types.map { |type| {name: type, data: [["Average GPU Load", benchmark.runs.where(name: type).includes(:metrics).select(metrics: [:label, :avg]).where(metrics: {label: "gpu_load"}).average(:avg)]] }},
            title: "GPU Load", colors: colors, max: 100, library: { plotOptions: { column: { colorByPoint: false }}}, suffix: "%" %>
    </div>
    <div class="col-6">
        <%= column_chart types.map { |type| {name: type, data: [["Average CPU Load", benchmark.runs.where(name: type).includes(:metrics).select(metrics: [:label, :avg]).where(metrics: {label: "cpu_load"}).average(:avg)]] }},
            title: "CPU Load", colors: colors, max: 100, library: { plotOptions: { column: { colorByPoint: false }}}, suffix: "%" %>
    </div>
</div></p>

<div class="row">
    <div class="col-6">
        <%= column_chart types.map { |type| {name: type, data: [["Average GPU Watt", benchmark.runs.where(name: type).includes(:metrics).select(metrics: [:label, :avg]).where(metrics: {label: "gpu_power"}).average(:avg)]] }},
            title: "GPU Watt", colors: colors, max: 100, library: { plotOptions: { column: { colorByPoint: false }}}, suffix: "W" %>
    </div>
    <% if @benchmark.runs.any? %>
        <% if @benchmark.runs.last.metrics.pluck(:label).include? "current_watt" %>
            <%# if Run.last.metrics.find_by(label: "current_watt").avg > 0 %>
            <div class="col-6">
                <%#= column_chart types.map { |type| {name: type, data: [["Average Energy Rate", benchmark.runs.where(name: type).includes(:metrics).select(metrics: [:label, :avg]).where(metrics: {label: "current_watt"}).average(:avg)]] }},
                    title: "Energy rate", colors: colors, max: 100, library: { plotOptions: { column: { colorByPoint: false }}}, suffix: "W" %>
            </div>
            <%# end %>
        <% end %>
    <% end %>
</div></p>