<% runs = game.runs.where(bench: benchmark) %>
<% colors = Bench::TWENTY %>
<div class="card">
    <div class="card-body p-0">
      <%= render partial: 'stats_table', locals: {benchmark: benchmark, runs: runs, colors: colors} %>
    </div>
</div>

<% if params[:action] != "sync" || params[:q].nil? %>
<div class="row">
    <div class="col-6">
        <%= line_chart runs.map {|run| {name: run.name, data: run.metrics.select(:data, :label).where(label: "elapsed").first.data.zip(run.metrics.where(label: "fps").first.data)}},
            title: "FPS", colors: colors, round: 0, suffix: "FPS" %>
    </div>
    <div class="col-6">
        <%= line_chart runs.map {|run| {name: run.name, data: run.metrics.select(:data, :label).where(label: "elapsed").first.data.zip(run.metrics.where(label: "frametime").first.data)}},
            title: "Frametime", colors: colors, round: 0, suffix: "ms" %>
    </div>
</div></p>
<% end %>
<div class="row">
    <div class="col-6">
        <%= column_chart runs.map {|run| {name: run.name, data: [["Average GPU Load", run.metrics.select(:avg).where(label: "gpu_load").first.avg]]}},
            title: "GPU Load", colors: colors, max: 100, library: { plotOptions: { column: { colorByPoint: false }}}, suffix: "%" %>
    </div>
    <div class="col-6">
        <%= column_chart runs.map {|run| {name: run.name, data: [["Average GPU Load", run.metrics.select(:avg).where(label: "cpu_load").first.avg]]}},
            title: "CPU Load", colors: colors, max: 100, library: { plotOptions: { column: { colorByPoint: false }}}, suffix: "%" %>
    </div>
</div></p>
<div class="row">
    <div class="col-6">
        <%= column_chart runs.map {|bench| {name: bench.game.name + " " + bench.name, data: [["Average GPU Watt", bench.metrics.select(:avg).where(label: "gpu_power").first.avg]]}},
            title: "GPU Watt", colors: colors, library: { plotOptions: { column: { colorByPoint: false }}}, suffix: "W" %>
    </div>
    <% if @benchmark.runs.any? %>
        <% if @benchmark.runs.last.metrics.pluck(:label).include? "current_watt" %>
            <%# if Run.last.metrics.find_by(label: "current_watt").avg > 0 %>
            <div class="col-6">
                <%#= column_chart runs.map {|bench| {name: bench.game.name + " " + bench.name, data: [["Average Energy Rate", bench.metrics.select(:avg).where(label: "current_watt").first.avg]]}},
                    title: "Energy Rate", colors: colors, library: { plotOptions: { column: { colorByPoint: false }}}, suffix: "W" %>
            </div>
            <%# end %>
        <% end %>
    <% end %>
</div></p>
<div class="row">
    <div class="col-6">
        <%#= line_chart benchmarks.map { |bench| 
            {name: bench.name, data: bench.inputs.where(id: bench.inputs.map {|input| input if input.id % 10 == 0 }).group(:position).sum(:gpu_core_clock)}}, title: "GPU Core Clock", colors: colors %>
    </div>
    <div class="col-6">
        <%#= line_chart benchmarks.map { |bench| 
            {name: bench.name, data: bench.inputs.where(id: bench.inputs.map {|input| input if input.id % 10 == 0 }).group(:position).sum(:gpu_power)}}, title: "GPU Power Consumption", ytitle: "Watt", colors: colors %>
    </div>
</div></p>
<div class="row">
    <div class="col-6">
        <%#= column_chart benchmarks.group(:sync).joins(:inputs).average("inputs.fps"), title: "Sync Compare", colors: colors, library: { plotOptions: { column: { colorByPoint: true }}} %>
    </div>
    <div class="col-6">
        <%#= column_chart benchmarks.group(:driver).joins(:inputs).average("inputs.fps"), title: "Driver Compare", colors: colors, library: { plotOptions: { column: { colorByPoint: true }}} %>
    </div>
</div>

