<table class="table table-bordered">
    <thead>
        <tr>
            <th>Color</th>
            <th>Name</th>
            <th>Avg</th>
            <th>Avg % vs <%= runs.first.name %></th>
            <% if current_user.admin? %>
                <th>Tools</th>
            <% end %>
            <th>System</th>
        </tr>
    </thead>
    <tbody>
        <% runs.each_with_index do |run, i| %>
            <tr>
                <td style="background-color: <%= colors[i] %>; width: 5%;"></td>
                <td><%= run.name %></td>
                <td><%= @avg = run.metrics.select(:label, :avg).where(label: "fps").last.avg.round(1) %></td>
                <td><%= (((@avg / runs.first.metrics.select(:label, :id, :avg).where(label: "fps").first.avg.round(1) * 100).round(1))).to_s + "%" if runs.first.metrics.where(label: "fps").where.not(data: nil) %></td>
                <% if current_user.admin? %>
                    <td>
                        <%= link_to "Destroy",
                        run_path(run),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-sm btn-danger', remote: false %>
                    </td>
                <% end %>
                <td>
                    <% if run.sysinfos.any? %>
                        <% if run.sysinfos.select(:label, :info).where(label: "Wine/Proton").last.info == nil %>
                            Windows
                        <% else %>
                            <%= run.sysinfos.select(:label, :info).where(label: "Wine/Proton").last.info %>
                        <% end %>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>