<table class="table table-bordered">
    <thead>
        <tr>
            <th>Color</th>
            <th>Name</th>
            <th>Avg</th>
            <th>Avg % vs <%= types.first %></th>
            <th>System</th>
        </tr>
    </thead>
    <tbody>
        <% types.each_with_index do |type, i| %>
            <tr>
                <td style="background-color: <%= colors[i] %>; width: 5%;"></td>
                <td><%= type %></td>
                <td><%= @avg = benchmark.runs.where(name: type).includes(:metrics).select(metrics: [:label, :avg]).where(metrics: {label: "fps"}).average(:avg).round(1) unless Rails.env.test? %></td>
                <td><%= (((@avg / benchmark.runs.where(name: types.first).includes(:metrics).select(metrics: [:label, :avg]).where(metrics: {label: "fps"}).average(:avg).round(1)) * 100).round(1)).to_s + "%" if benchmark.runs.where(name: type).includes(:metrics).select(metrics: [:label, :avg]).where(metrics: {label: "fps"}).any? %></td>
                <td>
                <% if benchmark.runs.where(name: type).last.sysinfos.any? %>
                    <% if benchmark.runs.where(name: type).last.sysinfos.select(:label, :info).where(label: "Wine/Proton").last.info == nil %>
                        Windows
                    <% else %>
                        <%= benchmark.runs.where(name: type).last.sysinfos.select(:label, :info).where(label: "Wine/Proton").last.info %>
                    <% end %>
                <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>