<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="info-box">
      <span class="info-box-icon bg-info elevation-1"><i class="fas fa-microchip"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">CPU</span>
        <span class="info-box-text"><%= @benchmark.sysinfos.select(:label, :info).where(label: "cpu").first.info.truncate(25) %></span>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-6">
    <div class="info-box">
      <span class="info-box-icon bg-info elevation-1"><i class="fas fa-memory"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">RAM</span>
        <span class="info-box-text"><%= @benchmark.sysinfos.select(:label, :info).where(label: "ram").first.info.to_i / 1000000 %>GB</span>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-6">
    <div class="info-box">
      <span class="info-box-icon bg-info elevation-1"><i class="fab fa-linux"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Kernel</span>
        <span class="info-box-text"><%= @benchmark.sysinfos.select(:label, :info).where(label: "kernel").first.info %></span>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-6">

  </div>
</div>