<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered">
      <thead>
        <th style="width: 1px;">#</th>
        <th>Benchmark</th>
      </thead>
      <tbody>
        <% benchmarks.each do |benchmark| %>
        <tr>
            <td style="width: 1px;"><%= benchmark.id %></td>
            <td><%= link_to benchmark.name, benchmark %></td>
            <!--
            <td><%#= benchmark.games.size %></td>
            <td>
                <%#= link_to "Edit", edit_bench_path(benchmark), class: "btn btn-sm btn-warning" %>
                <%#= link_to "Destroy",
                    bench_path(benchmark),
                    :method => :delete,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-sm btn-danger', remote: false %>
            </td>
            -->
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
<!--  <div class="col-3 ml-1">
    <button class="btn btn-primary" onclick="displayMarked();">Show marked Benchmarks</button></p>
  </div> -->
  <div class="col-8">
    <%#= link_to 'Compare by Native', stats_benches_path(benchmark_ids: @benchmarks.pluck(:id), type: "Wine"), remote: true , class: "btn btn-success" %>
    <%#= link_to 'Compare by Renderer', stats_benches_path(benchmark_ids: @benchmarks.pluck(:id), type: "Renderer"), remote: true , class: "btn btn-success" %>
  </div>
</div>
