<%= form_for @benchmark, remote: true do |f| %>
  <%= hidden_field_tag :attachment, value: true %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
    bench_path(@benchmark),
    :method => :delete,
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
    :class => 'btn btn-sm btn-danger', remote: false %>
  <%= link_to "Edit", edit_bench_path(@benchmark), class: "btn btn-warning" %>
  <%= f.file_field :upload, :class => '' %>
  <%= f.submit "Upload", class: 'btn btn-success' %>
  <select id="file_type" name="file_type">
    <% Bench::FILETYPES.each do |type| %>
      <option value="<%= type %>"><%= type %></option>
    <% end %>
  </select> 
<% end %>