
<% content_for :title do %> Benchmarks <% end %>
<%= link_to "New Benchmark", new_bench_path, class: "btn btn-primary" if current_user.admin? %>
</p>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Benchmarks</h3>
        <div class="card-tools">
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <%= render partial: 'table', locals: {benchmarks: @benchmarks} %>
        <%= render 'checkboxes' %>
    </div>
</div>
