<% if params[:game_id] == "total" %>
$('#stats_table').html("<%= j render partial: 'graphs_total', locals: {benchmark: @benchmark, game: @benchmark.games.first} %>")
<% else %>
$('#stats_table').html("<%= j render partial: 'graphs', locals: {benchmark: @benchmark, game: @benchmark.games.find(params[:game_id])} %>")
<% end %>