<% content_for :title do %> <%= @benchmark.name %> <% end %>

<%= render 'runs/form' if current_user.admin? %>

<%#= render 'sysinfo' if @benchmark.sysinfos.any? %>
<select class="form-control col-3" id="gameSelect">
    <option value="total">Total</option>
    <% @benchmark.games.distinct(:game_id).each do |game| %>
        <option value="<%= game.id %>"><%= game.name %></option>
    <% end %>
</select></p>

<div id="stats_table">
    <%= render partial: 'graphs_total', locals: {benchmark: @benchmark, game: @benchmark.games.first } %>
</div>

<script>
    $('#gameSelect').change(function(){
    var data= $(this).val();
            $.ajax({url: "<%= bench_path(@benchmark) %>" + ".js" + "?game_id=" + data})         
        });
</script>