<% content_for :title do %> Benchmark stats <% end %>
<div class="card">
    <div class="card-header">
        <%= search_form_for @q, url: stats_benches_path,
                                html: { method: :post } do |f| %>
        <div class="row">
            <div class="col-3">
                <%= f.label "Renderer" %>
                <%= f.collection_select :renderer_cont, Bench.select(:renderer).distinct.where.not(renderer: nil), :renderer, :renderer, {include_blank: true}, class: 'form-control', placeholder: "Type" %>
            </div>
            <div class="col-3">
                <%= f.label "Game" %>
                <%= f.collection_select :game_id_eq, Game.all, :id, :name, {include_blank: true}, class: 'form-control' %>
            </div>
            <div class="col-3">
                <%= f.label "Sync" %>
                <%= f.collection_select :sync_cont, Bench.select(:sync).distinct.where.not(sync: nil), :sync, :sync, {include_blank: true}, class: 'form-control' %>
            </div>
            <div class="col-3">
                <%= f.label "Driver" %>
                <%= f.collection_select :driver_cont, Bench.select(:driver).distinct, :driver, :driver, {include_blank: true}, class: 'form-control' %>
            </div>
            <div class="col-3">
                <%= f.label "Cpu Scheduler" %>
                <%= f.collection_select :cpusched_cont, Bench.select(:cpusched).distinct, :cpusched, :cpusched, {include_blank: true}, class: 'form-control' %>
            </div>
            <div class="col-3">
                <%= f.label "Kernel" %>
                <%= f.collection_select :kernel_cont, Bench.select(:kernel).distinct.where.not(kernel: nil), :kernel, :kernel, {include_blank: true}, class: 'form-control' %>
            </div>
            <div class="col-3">
                <%= f.label "Proton/Wine" %>
                <%= f.collection_select :wine_cont, Bench.select(:wine).distinct.where.not(wine: nil), :wine, :wine, {include_blank: true}, class: 'form-control' %>
            </div>
            <div class="col-3">
                <%= f.label "Graphics Card" %>
                <%= f.collection_select :gpu_cont, Bench.select(:gpu).distinct.where.not(gpu: nil), :gpu, :gpu, {include_blank: true}, class: 'form-control' %>
            </div>
        </div></p>
        <%= f.submit %>
        <% end %>
    </div>
</div>

<div class="card">
    <div class="card-header">
            <h3 class="card-title">Benchmarks</h3>
        <div class="card-tools">
        </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
            <%= render partial: 'table', locals: {benchmarks: @benchmarks} %>
            <%= render 'checkboxes' %>
        </div>
    </div>

<div id="compareTable">
</div>
<div id="graphs">
    <%= render partial: 'graphs', locals: {benchmarks: @benchmarks.select(:game_id, :name, :id) } %> 
</div>


<%= render "checkboxes" %>
<script>
    // $.ajax("<%= stats_benches_path(benchmark_ids: @benchmarks.pluck(:id), type: "Renderer") %>")
</script>