<% @benchmarks = Bench.where(id: params[:benchmark_ids]) %>
<% if params[:type] == "Wine" %>
    $('#graphs').html("<%= j render partial: 'benches/compare_graphs', locals: {benchmarks: @benchmarks.where(wine: @benchmarks.pluck(:wine)).group(:wine, :wine).joins(:inputs), type: params[:type]} %>")
    $('#compareTable').html("<%= j render partial: 'benches/compare_table', locals: {benchmarks: @benchmarks.pluck(:wine).uniq, type: params[:type]} %>")
<% end %>
<% if params[:type] == "Renderer" %>
    $('#graphs').html("<%= j render partial: 'benches/compare_graphs', locals: {benchmarks: @benchmarks.where(renderer: @benchmarks.pluck(:renderer)).joins(:inputs).group(:renderer, :renderer), type: params[:type]} %>")
    $('#compareTable').html("<%= j render partial: 'benches/compare_table', locals: {benchmarks: @benchmarks.pluck(:renderer).uniq, type: params[:type] } %>")
<% end %>

