<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered">
      <thead>
      <th>GPU</th>
      <% @trace_frames.each do |trace_frame| %>
        <th><%= link_to trace_frame.frame_id, "/traces/#{@trace.id}/frames/#{trace_frame.frame_id}" %></th>
      <% end %>
      </thead>
      <tbody>
      <% if @trace_frames.first.upload.attached? %>
          <tr>
            <td>Reference frames</td>
            <% @trace_frames.with_attached_upload.each do |trace_frame| %>
              <td><%= link_to(image_tag(trace_frame.upload.variant(resize: '100x100')), trace_frame.upload) %></td>
            <% end %>
          <tr>
      <% end %>
          <% @gpus.each do |gpu| %>
          <tr>
            <td><%= gpu.name %></td>
            <% @trace_frames.each do |trace_frame| %>
              <% if @traceExec %>
                <% frame = @traceExec.frame_outputs.where(trace_frame: trace_frame).last %>
              <% else %>
                <% frame = Job.last.frame_outputs.where(trace_frame_id: trace_frame.id).includes(:trace_exec).where(
                  trace_execs: {gpu: gpu, trace: @trace}
                ).last %>
              <% end %>
              <% if frame.nil? %>
                <td class="text-center text-danger"><i class="fas fa-times fa-2x"></i></td>
              <% else %>
                  <% frame.upload.blob.update(content_type: "image/png") if !frame.upload.variable? and Rails.env.production? %>
                  <td> <%= link_to(image_tag(frame.upload.variant(resize: '100x100')), frame.deduped_frame_output, data: { turbolinks: false }) if Rails.env != "test" and Rails.env != "development" %></td>
              <% end %>
            <% end %>
          </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>
