<%= form_for @trace, remote: true do |f| %>
    <script>
    function AddNewTraceFrame(){
        $.getScript("?trace_frame_count=" + trace_frame_count)
    }
    </script>
    <%= f.hidden_field :game_id, value: @game.id if params[:action] != "edit" %>
    <% @trace.trace_frames.each do |frame| %>
        <%= f.hidden_field "frame_id_#{frame.frame_id}", value: 0 %>
    <% end %>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <%= f.label "GPU", :class => 'control-label' %>
                <div class="controls">
                    <%= f.collection_select :gpu_id, Gpu.where("metadata ? 'user'"), :id, :traced_gpu, {required: true}, class: 'form-control' %>
                </div>
            </div>
        </div>
    </div>
    </p>
    <div id="trace_frames">
    Trace frames
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Frame ID</th>
                    <th>Reference Frame</th>
                    <th>Destroy</th>
                <tr>
            </thead>
            <tbody id="trace_frames">
                <% if params[:action] == "edit" %>
                    <% @trace.trace_frames.each do |frame| %>
                        <tr>
                            <td><%= frame.frame_id %></td>
                            <td>
                            <% if Rails.env.production? %>
                                <a class="thumbnail" href="<%= frame.upload.url %>"><%= image_tag(frame.upload.blob.variant(resize: "50x50")) if frame.upload.blob.variable? %><span><%= image_tag(frame.upload.blob) %><br /></span></a>
                            <% end %>
                            </td>
                            <td>
                                <input type="checkbox" onclick="$('#trace_frame_id_' + <%= frame.frame_id %>).val(this.checked)" unchecked>
                            </td>
                        </tr>
                    <% end %>
                <% else %>
                    <%= render partial: 'traces/form_trace_frames', locals: {f: f, count: 0.to_s} %>
                <% end %>
            </tbody>
        </table>
    </div>
    <% if params[:action] != "edit" %>
    <button type="button" onclick="AddNewTraceFrame()" class="btn btn-primary">Add Trace Frame</button>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <%= f.label "Trace", :class => 'control-label' %>
                <div class="controls">
                    <%= f.file_field :upload, required: true, direct_upload: true %>
                </div>
            </div>
        </div>
    </div>
    <% end %>
    <% if params[:action] == "edit" %>
        <%= f.submit "Submit", class: 'btn btn-success' %>
    <% else %>
        <%= f.submit "Upload", class: 'btn btn-success' %>
    <% end %>
<% end %>