<tr>
    <%= f.fields_for :trace_frames do |f| %>
        <td><%= f.number_field :frame_id, required: true,
                id: "trace_trace_frames_attributes_" + count + "_frame_id",
                name: name="trace[trace_frames_attributes][" + count + "][frame_id]" %></td>
        <td><%= f.file_field :upload, required: true, direct_upload: true,
                id: "trace_trace_frames_attributes_" + count + "_upload",
                name: name="trace[trace_frames_attributes][" + count + "][upload]" %></td>
        <td><button onclick="$(this).closest('tr').remove();" class="btn btn-sm btn-primary">Remove Field</button></td>
    <% end %>
</tr>
