<div class="card">
    <div class="card-header">
        <h2 class="card-title">Frames</h2>
        <div class="card-tools">
            <% if current_user && current_user.can_download_trace? %>
                <%= link_to "Download trace", @trace.upload.url, class: "btn btn-primary" if Rails.env.production? %>
            <% end %>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0 mb-">
        <%= render'deduped_table' %>
    </div>
</div>
