<%= search_form_for @q, remote: true do |f| %>
    <div class="row">
        <div class="col-3">
            <%= f.search_field :upload_blob_filename_cont, class: "form-control", placeholder: "Search trace name", onkeyup: "$('#submitBtn').trigger('click')" %>
        </div>
    </div>
    <div style="display:none">
        <%= f.submit "asdf", id: "submitBtn" %>
    </div>
<% end %>
