<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered">
      <thead>
        <th>Trace ID</th>
        <th>Trace</th>
        <th>Game</th>
        <% if current_user && current_user.can_download_trace? %>
          <th>Actions</th>
        <% end %>
      </thead>
      <tbody>
        <% @traces.includes(:game).order(:id).each do |trace| %>
        <tr>
            <td><%= link_to trace.id, trace %></td>
            <td><%= link_to @filenames[trace.id].to_s.truncate(40), trace %></td>
            <td><%= link_to trace.game.name, trace.game %></td>
            <% if current_user && current_user.can_download_trace? %>
              <td><%= link_to "Edit", edit_trace_path(trace), class: "btn btn-warning" %>
              <%= link_to "Download", trace.upload.url, class: "btn btn-success" if Rails.env.production? %>
              </td>
            <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
