<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered">
      <thead>
        <th>#</th>
        <th>Outputs</th>
          <!-- <th>Tools</th> -->
      </thead>
      <tbody>
        <% @trace.trace_frames.order(:id).each_with_index do |trace_frame, i| %>
        <tr>
            <td><%= link_to trace_frame.frame_id, trace_trace_frame_path(@trace, trace_frame) %></td>
            <td><%= trace_frame.frame_outputs.size %></td>
            <!-- <td>
              <%#= link_to "Destroy",
                  trace_path(trace_frame),
                  :method => :delete,
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-sm btn-danger', remote: false %>
            </td> -->
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
