<% @timelines.each do |timeline| %>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><%= timeline.to_s %></h3>
            <div class="card-tools">
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
            <table class="table table-bordered">
                <thead>
                    <tr>
                    <th>GPUs \ Drivers</th>
                    <% @driver_branches.each do |branch| %>
                        <th><%= branch.driver.name %> / <%= branch.name %></th>
                    <% end %>
                    </tr>
                </thead>
                <tbody>
                    <% @gpus.each do |gpu| %>
                    <tr>
                        <td><%= gpu.name %></td>
                        <% @driver_branches.each do |branch| %>
                        <td>
                            <% frame = @frames.find_by(gpus: {id: gpu.id}, driver_branch: {id: branch.id}) %>
                            <% if frame.present? %>
                                <%= link_to(image_tag(frame.upload.variant(resize: '100x100')), history_frame_output_path(frame), data: { turbolinks: false }) %>
                            <% else %>
                                <span class="badge badge-danger" title="This gpu/timeline/driver_branch combination has not been seen">missing</span></h1>
                            <% end %>
                        </td>
                        <% end %>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
<% end %>

<script>
    function submitForm(){
        $('#frames_form').submit()
    }
</script>
