<% content_for(:tabtitle, "Traces - Valve Dashboard") %>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Traces</h3>
        <div class="card-tools">
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0 mb-n3">
        <%= render 'search' %>
        <div id="tracesTable">
            <%= render 'table' %>
        </div>
    </div>
</div>
<div id="tracesPagination">
    <%= paginate @traces, theme: 'twitter-bootstrap-4' %>
</div>