<% content_for(:tabtitle, "Trace: #{@trace.upload.filename} - Valve Dashboard") %>
<h3>Trace game: <%= @trace.game.name %></h3>
<h3>Trace name: <%= @trace.upload.filename %></h3>
<%= render 'review' %>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Execution time over time</h3>
        <div class="card-tools">
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
      <%= select_tag 'timeline', options_for_select(@timelines.collect{ |t| [t.name, t.id] }), prompt: "All timelines", class: 'form-control col-3' %>
      <div id="chart-execution-time"></div>
    </div>
</div>
<script>
  Highcharts.chart('chart-execution-time', {});
  var chart = Highcharts.chart('chart-execution-time', {});

  function getChartData(timeline){
    var url = ""
    if (timeline)
      url = '/traces/10/execution_time?timeline=' + timeline
    else
      url = '/traces/10/execution_time'

    while (chart.series.length) {
      chart.series[0].remove();
    }

    Highcharts.ajax({
      url: url,
      success: function(data) {
        $.each(data.series, function (i) {
          chart.addSeries(data.series[i], true);
        });
        chart.update({
            title: {
                text: "",
                align: "center"
            },
            plotOptions: {
              series: {
                cursor: 'pointer',
                point: {
                  events: {
                    click: function (){
                      Turbolinks.visit("/trace_execs/" + this.exec_id)
                    }
                  }
                }
              }
            },
            tooltip: {
              formatter: function() {
                  var s = '<b>'+ moment(this.x).format('MMMM Do YYYY, h:mm:ss a') +'</b>';

                  $.each(this.points, function(i, point) {
                      s += '<br/><span style="color:' + point.color + '">\u25CF</span> ' + point.series.name + ': ' + Math.round(point.y * 10) / 10 + " seconds";
                  });

                  return s;
              },
              shared: true
            },
            xAxis: {
              title: {
                text: "Date",
              }
            },
            yAxis: {
              title: {
                text: "Execution time (seconds)"
              }
            },
          });
        }
    });
  }
  getChartData(0);
  $('#timeline').change(function() {
    getChartData($('#timeline').val())
  });
</script>