<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
    <% if user_signed_in? %>
    <li class="nav-item">
      <%= link_to('Manage account', profile_path, class: "nav-link") %>     
    </li>
    <li class="nav-item">
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %>        
    </li>
    <% end %>
  </ul>
</nav>
<!-- /.navbar -->