<div class="card">
    <div class="card-header">
        <h4>Layers <span title="<%= DedupedFrameOutput.layer_shortcuts_tooltip %>"><i class="fa-regular fa-keyboard float-right"></i></span></h4>
    </div>
    <div id="layer_list" class="list-group">
        <div class="list-group-item">
            <div class="row">
                <div class="col-1">
                    <i class="fa-solid fa-circle-half-stroke" id="eye" onclick="show_hide_layer()"></i>
                </div>
                <div class="col-2" id="contrast_indicator">
                    100%
                </div>
                <div class="col-9">
                    <input type="range" min="50" max="300" step="10" class="form-range slider" id="contrast_slider" onInput="change_contrast(this.value)" value="100">
                </div>
            </div>
        </div>
        <% @images = ["diff", "new", "source"] %>
        <% @images.each do |val| %>
            <% name = "Diff" if val == "diff" %>
            <% name = "Current frame" if val == "new" %>
            <% name = "Reference frame" if val == "source" %>
            <div id="list_<%= val %>" class="list-group-item"><i class="fas fa-arrows-alt handle"></i>&nbsp;<%= name %>
            <% if val == "diff" %>
                <div class="row">
                    <div class="col-4">Tolerance</div>
                    <div class="col-3" id="tolerance_indicator">
                        0
                    </div>
                    <div class="col-5">
                        <input type="range" min="0" max="30" step="1" class="form-range slider" id="tolerance_<%= val %>" onInput="$('#tolerance_indicator').html(this.value)" onmouseup="change_tolerance(this.value)" onkeyup="change_tolerance(this.value)" value="0">
                    </div>
                </div>
            <% end %>
                <div class="row">
                    <div class="col-3">
                        <i class="far fa-eye" id="eye_<%= val %>"onclick="show_hide_layer('<%= val %>')"></i>
                    </div>
                    <div class="col">
                        <input type="range" min="0.01" max="0.98" step="0.01" class="form-range slider" id="opacity_<%= val %>" onInput="change_opacity('<%= val %>', this.value)" value="1">
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>

<script>

var timer
current_image = 0
images = <%= raw @images %>
function start_timer(){
    timer = setInterval(flip_images, 5000)
}

function flip_images(){
    current = images[current_image]
    $("#" + current).fadeOut(1000)
    current_image++
    if (current_image > (images[images.length - 1]))
        current_image = 0
    if (current = images[images.length - 1])
        $.each(images, function(i, val){
            $("#" + val).show()
        })       
}

function show_hide_layer(source){
    el = $('#eye_' + source)
    if (el.hasClass("fa-eye")){
        el.removeClass("fa-eye")
        el.addClass("fa-eye-slash")
        $('#' + source).hide()
    } else {
        el.removeClass("fa-eye-slash")
        el.addClass("fa-eye")
        $('#' + source).show()
    }
}
function updatedList(){
    var parentDiv = [];
    $("#layer_list > div").each((index, elem) => {
    parentDiv.push(elem.id);
    });
    $.each(parentDiv, function (i, val){
        if (val == "list_new")
            $("#new").css('z-index', 3 - i);
        if (val == "list_source")
            $("#source").css('z-index', 3 - i);
        if (val == "list_diff")
            $("#diff").css('z-index', 3 - i);
    })
}
var sortable = new Sortable.Sortable(layer_list, {
    handle: '.handle',
    animation: 150,
	onUpdate: function (evt) {
		updatedList()
	},
});

function change_tolerance(value){
    diff.setupCustomTolerance({red: value, blue: value, green: value});
    diff.repaint();
    $("#tolerance_indicator").html(value)
    $("#tolerance_diff").val(value)
}


$("#tolerance_diff").bind("scroll",function(){
  change_tolerance(this.val())
});

$(document).keypress(function(e) {
    <% if Rails.env == "development" %>
    console.log(e.which)
    <% end %>
    if ($('#modalWindow').is(':hidden')){
        switch (e.which){
            case 48:
                change_tolerance(0)
                break
            case 49:
                change_tolerance(1)
                break
            case 50:
                change_tolerance(2)
                break
            case 51:
                change_tolerance(3)
                break
            case 52:
                change_tolerance(4)
                break
            case 53:
                change_tolerance(5)
                break
            case 54:
                change_tolerance(6)
                break
            case 55:
                change_tolerance(7)
                break
            case 56:
                change_tolerance(8)
                break
            case 57:
                change_tolerance(9)
                break
            case 97:
                console.log("submit")
                $('#looks_good_btn')[0].click()
                break
            case 113:
                show_hide_layer("diff")
                break
            case 119:
                show_hide_layer("new")
                break
        }
    }
});

function change_contrast(value){
    $("#new").css({'filter': 'contrast('+ value +'%)'})
    $("#source").css({'filter': 'contrast('+ value +'%)'})
    $("#diff").css({'filter': 'contrast('+ value +'%)'})
    $('#contrast_indicator').html(value + "%")
}

</script>