<div class="wrapper">
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <!-- <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8"> -->
      <span class="brand-text font-weight-light">Valve Dashboard</span>
    </a>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
          <%= link_to(root_path, class: class_names('nav-link', { active: current_page?(root_path) }), data: { turbolinks: false }) do %>
              <i class="fas fa-tachometer-alt nav-icon"></i>
              <p>Dashboard</p>
          <% end %>
          </li>

          <% if current_user && current_user.admin? %>
            <li class="nav-item">
            <%= link_to(benches_path, class: class_names('nav-link', { active: current_page?(action: "index", controller: "benches")})) do %>
                <i class="fas fa-table nav-icon"></i>
                <p>Benchmarks</p>
            <% end %>
            </li>
          <% end %>
          <li class="nav-item">
          <% unless current_page?(action: "new", controller: "devise/sessions") %>
            <%= link_to(games_path, class: class_names('nav-link', { active: current_page?(action: "index", controller: "games") })) do %>
                <i class="fas fa-gamepad nav-icon"></i>
                <p>Games</p>
            <% end %>
          </li>
          <li class="nav-item">
          <%= link_to(frames_path, class: class_names('nav-link', { active: current_page?(action: "frames", controller: "static") })) do %>
              <i class="far fa-images nav-icon"></i>
              <p>Frames</p>
          <% end %>
          </li>
          <li class="nav-item">
          <%= link_to(traces_path, class: class_names('nav-link', { active: current_page?(action: "index", controller: "traces") })) do %>
              <i class="far fa-file-image nav-icon"></i>
              <p>Traces</p>
          <% end %>
          </li>
          <% if current_user && current_user.admin? %>
            <li class="nav-item">
            <%= link_to(gpus_path, class: class_names('nav-link', { active: current_page?(action: "index", controller: "gpus") })) do %>
                <i class="fas fa-microchip nav-icon"></i>
                <p>GPUs</p>
            <% end %>
            </li>
          <% end %>

          <li class="nav-item">
          <%= link_to(jobs_path, class: class_names('nav-link', { active: current_page?(controller: "jobs") })) do %>
              <i class="fab fa-git-alt nav-icon"></i>
              <p>Jobs</p>
          <% end %>
          </li>

          <li class="nav-item">
          <%= link_to(bugs_path, class: class_names('nav-link', { active: current_page?(action: "index", controller: "bugs") })) do %>
              <i class="fas fa-bug nav-icon"></i>
              <p>Bugs</p>
          <% end %>
          </li>
          <% end %>

          <% if current_user && current_user.admin? %>
            <li class="nav-item">
            <%= link_to(users_path, class: class_names('nav-link', { active: current_page?(action: "index", controller: "users") })) do %>
                <i class="fas fa-users nav-icon"></i>
                <p>Users</p>
            <% end %>
            </li>
          <% end %>
        
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>