<!DOCTYPE html>
<html>
  <head>
    <% if content_for?(:tabtitle) %>
      <title><%= yield(:tabtitle) %></title>
    <% else %>
      <title>Valve Dashboard</title>
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="hold-transition sidebar-mini layout-fixed">
    <%= render 'layouts/header' %>
    <%= render 'layouts/sidebar' %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-12">
              <h1 class="m-0 text-center" style="font-size: 45px;"><%= yield :title %></h1>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      <!-- /.content-header -->
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
            <%= yield %>
        </div>
      </section>
      </div>
      </div>
    </div>
  </body>
</html>